[2017-07-25 00:58] manugarg opened #10 "UDP probe should re-use the same socket for multiple targets"
UDP probe creates a new socket for each target. This can get expensive for large number of targets. We should change UDP probe to use the same socket for all targets, similar to what [PING probe](https://github.com/google/cloudprober/blob/master/probes/ping/ping.go) does.

To do this, we should probably use ListenUDP() to create a UDP socket that can send packets to multiple addresses:
https://gol

[2017-07-25 01:28] manugarg opened #11 "Add support for AWS targets"

[2017-07-25 19:46] manugarg opened #12 "Add documentation on how to run an external probe with Cloudprober"

[2017-07-25 19:48] manugarg opened #13 "Add support for histograms/distributions"
Cloudprober's metrics package should support histograms value types.

[2017-08-17 19:34] manugarg opened #25 "External prober should be able to retrieve external probe binary from remote location (GCS/S3/etc)"
External prober should be able to retrieve external probe binary from remote location (GCS/S3/etc). This will allow for easy deployment of external probes.

[2017-08-17 19:36] manugarg opened #26 "Add gRPC service for on-demand probe execution"
It will be useful to add a gRPC service to cloudprober that will allow on-demand probe execution.

[2017-08-17 19:41] manugarg opened #27 "Extend HTTP probe type to add support for OAuth-authenticated probes"

[2017-08-22 18:47] manugarg opened #29 "External probe sets request's TimeLimit to 0 for sub-second timeouts."
Relevant code:
https://github.com/google/cloudprober/blob/master/probes/external/external.go#L314

[2017-10-13 08:36] Daxten opened #35 "[Help] How to use Probe specific Configs?"
In the docs only the code is linked, and since I'm not familiar with protobuff / go it didn't really help me.. my naiv approach was sth like this:

[code]

but that already doesnt work, the config files also don't have a property for sth like "AbstractSpecialProbeConfig" and / or there is no inheritance, so where should I put the property? (maybe sth. for the docs?)

also adding more then 1 HTTP P

[2017-10-14 03:12] manugarg commented on #35
Hello Daxten,

Following will be the correct config:

probe {
  name: "cloudprober"
  type: HTTP
  targets {
    host_names: "google.de"
  }
  interval_msec: 5000  # 5s
  timeout_msec: 1000   # 1s
  http_probe {
    relative_url: "/"
  }
}

Following test config may help a bit:
https://github.com/google/cloudprober/blob/master/cmd/cloudprober_test.cfg

I am planning to add some examples and docume

[2017-10-17 11:10] Daxten commented on #35
Cool thanks that helped! 👍

[2017-10-17 11:10] #35 closed

[2017-11-10 18:39] manugarg commented on #13
Commit #db3fc31 adds a DISTRIBUTION type cloudprober's metrics library.

[2017-11-15 06:53] manugarg commented on #13
Commit 079d723 adds support for specifying Distributions through a protobuf and extends probe config protobuf to add an option to use Distributions for latency.

[2017-11-15 23:25] manugarg commented on #13
Commit 5397a37 adds Distributions support to HTTP probe.

[2017-11-21 01:27] manugarg commented on #10
@ls692 has been working on it.

[2017-11-21 01:31] manugarg commented on #13
Commit ef29283 adds support for exporting distributions over prometheus.

[2017-11-22 07:57] manugarg commented on #13
This is now complete. Screenshot of latency distribution in stackdriver:

![cloudprober distributions stackdriver](https://user-images.githubusercontent.com/1286425/33115914-9beb30aa-cf17-11e7-82c5-3f9ef34bb9f9.png)

[2017-12-13 07:46] manugarg commented on #13
Couple of more commits for this issue:
f114067 -- Add distributions support to external probe type.
c018e5c -- Add a method to parse distributions from a string (same format as Distribution.String()).

[2017-12-15 00:42] manugarg opened #53 "Cloudprober should export its runtime stats"
To help debugging any performance issues, cloudprober should export its runtime stats:

1. No of gorotuines (runtime.NumGoroutine()) - gauge
2. Fraction of time spent in GC (runtime.ReadMemStats - reflect.MemStats.GCCPUFraction) - counter
3. Number of allocs and frees (runtime.Mallocs, runtime.Frees) - counter
4. Overall CPU and memory usage of cloudprober. Memory usage can be obtained from runtim

[2018-01-17 13:50] vivekbny opened #58 "Need few explanation on cloudprober"
Hi,

I see a metric named **latency**. just wanted to know if that latency metric is actually - latency of the cloudprober or from the network.

Also after adding/updating the URL in the cloudprober.cfg, is there anyway to reload it on the run-time. Every-time after making the changes in the file, i am re-starting the container.

Can someone advise ?

Thanks

[2018-01-17 15:40] xbblq7n commented on #58
Can someone help ?

[2018-01-18 17:07] vivekbny commented on #58
please address on the above query?

[2018-01-26 08:46] gosyang opened #65 "Should prometheus surfacer output delete timestamp?"
cloudprober write data in prometheus surfacer end with timstamps, but in some cases,  prometheus can't accept, error like:
`msg="Error on ingesting samples that are too old or are too far into the future"`

like Ben Kochie said in https://groups.google.com/d/msg/prometheus-users/NvLGxFZczJk/8hlYoAEsCwAJ

Should we delete the timestamp?

[2018-01-26 18:44] manugarg commented on #58
@vivekbny I am going to assume that I answered you question and close the issue :) Feel free to reopen if that's not the case.

[2018-01-26 18:44] #58 closed

[2018-01-26 18:55] manugarg commented on #65
@gosyang We possibly can drop the timestamp (or at least make it optional). I think timestamp made sense though as it's the timestamp when probe ran. But, if data is being scraped regularly, it won't make much of a difference.

I wonder why are you getting these errors though. Are there probes that run at a very low frequency or something?

[2018-01-26 21:39] manugarg commented on #53
Following runtime metrics have been added:

Heap/Garbage collection related:
gc_time_msec -- Time spent in GC (counter)
mallocs -- Number of mallocs so far (counter)
frees - Number of frees so far (counter)

Others:
cpu_usage_msec -- cpu usage (counter)
goroutines -- number of goroutines at the moment (gauge)
mem_stats_sys_bytes - System memory allocated in bytes (gauge)
uptime_msec - uptime (coun

[2018-01-26 21:40] manugarg commented on #53
https://github.com/google/cloudprober/blob/master/sysvars/runtime.go has more info.

Commit: cdf8fe3, 0dfcf53

[2018-01-26 21:40] #53 closed

[2018-01-27 08:45] gosyang commented on #65
Thanks！

I have some prober in different time zones. I prefer to drop the timestamp and  scrap regularly :smile:

[2018-01-27 11:39] manugarg commented on #65
I see. I'll try to add an option to Prometheus surfacer to skip timestamps.

[2018-01-28 07:33] manugarg commented on #65
I have a change created (internally). I'll submit it some next week after the review.

[2018-01-30 06:29] vivekbny commented on #58
Thanks @manugarg

[2018-02-07 06:27] #65 closed

[2018-02-07 06:29] manugarg commented on #65
@gosyang Latest change adds a config option include_timestamp, that can be used to disable timeout timestamps in prometheus page.

https://github.com/google/cloudprober/commit/d20f0462fb0fba899068ae3cba0dde70b1d58e73

[2018-02-09 03:10] manugarg commented on #10
This has been done.

[2018-02-09 03:10] #10 closed

[2018-02-09 06:04] manugarg commented on #13
Latest release 0.9.3 include these changes.

[2018-02-09 06:04] #13 closed

[2018-02-13 02:54] manugarg opened #71 "Add surfacer for InfluxDB"
It should be easy to add a surfacer for InfluxDB. InfluxDB measurements correspond to EventMetrics (EM) in cloudprober. "tag keys" and "tag values" correspond to EM labels, and "field keys" and "field values" correspond to EM metrics.

[2018-02-22 20:34] manugarg opened #72 "Expose parsed config through a web URL (/config)"

[2018-02-23 05:43] #72 closed

[2018-03-06 03:00] manugarg opened #82 "Add regex-based response validation to Cloudprober"
It would be great if Cloudprober's HTTP probes could also do some simple regex-based response validation.

[2018-03-15 20:16] stevemcghee commented on #72
curious if the goal is to result in something like a green/red timeline, similar to other .. probing .. software? :)

[2018-03-28 21:28] manugarg commented on #72
@stevemcghee Sorry for the late response, I was on vacation. Getting red/green timelines will be really nice but I wasn't exactly aiming for that. Cloudprober doesn't have transactional model for UDP probe for example -- we just send some packets and collect responses asynchronously. Ping probe will probably also move to the same model. It will be easier to show timeline with history for HTTP prob

[2018-03-30 15:37] DazWilkin opened #88 "Propose: Dockerfile w/ ENTRYPOINT & CMD"
Please consider revising project's `Dockerfile` to use `ENTRYPOINT` (to start `cloudprober`) and `CMD` to default the flags to `--logtostderr` like so:

[code]
Currently, the container does not permit e.g. arbitrary config files:
[code]
produces:
[code]

With the change, the `docker` command works.

This change helps e.g. run `cloudprober` on Kubernetes

[2018-03-30 15:57] DazWilkin opened #89 "Propose: Kubernetes Deployment"
Assuming https://github.com/google/cloudprober/issues/88, it's possible to deploy `cloudprober` to Kubernetes and reference a custom config through Kubernetes' `ConfigMap`:

Assuming `cloudconfig.google.cfg`, per the documentation example, this can be uploaded to Kubernetes as a configuration file accessible as `cloudconfig.cfg`:
[code]
or:
[code]
**NB** Rename "cloudprober.cfg" in both as appropr

[2018-03-30 19:42] manugarg commented on #88
Thanks for this suggestion @DazWilkin. Using ENTRYPOINT instead of CMD makes sense.

[2018-03-30 19:42] #88 closed

[2018-03-31 04:45] DazWilkin commented on #25
Having been initially drawn to deploying Cloudprober (as a container) on Kubernetes, I propose we consider a model in which external probes are (also) deployed as containers. For Kubernetes, this would then enable delivering external probes as sidecars but this approach appears to provide more general benefits: leveraging container registries for hosting external probes (rather than GCS|S3), unify

[2018-03-31 21:25] manugarg commented on #89
Thanks for this @DazWilkin.

Here is logic for discovering port for the default server:
https://github.com/google/cloudprober/blob/89196c8fcab144f57f79332b3cc1271817b4dacc/cloudprober.go#L79

If port is not in the config, and environment variable CLOUDPROBER_PORT is not defined, cloudprober will use 9313 ([DefaultServerPort](https://github.com/google/cloudprober/blob/89196c8fcab144f57f79332b3cc127

[2018-03-31 23:03] DazWilkin commented on #89
I looked at `cloudprober.go` but it wasn't immediately obvious to me why it doesn't work.

Curiously, the container works outside of Kubernetes.

If I exclude the environment variable from the deployment file on Kubernetes, it generates:
[code]
If I include:
[code]
It works.

[2018-04-01 03:50] manugarg commented on #89
Apparently Kubernetes automatically sets the environment variable "<SERVICE>_PORT"
https://kubernetes.io/docs/concepts/services-networking/service/#environment-variables

This is colliding with the Cloudprober's default port environment variable name, CLOUDPROBER_PORT.

CLOUDPROBER_SERVICE_PORT would have been more compatible with Kubernetes. I'll document it for now and possibly change the enviro

[2018-04-01 20:34] DazWilkin commented on #89
IDNKT!

I've confirmed this is the root-cause in my case.

I renamed the service in my deployment (`cloudprober`→`xcloudprober`) and removed the env for `CLOUDPROBER_PORT` and the deployment succeeded.

[2018-04-03 21:13] DazWilkin opened #95 "FR: Add (useful) "/config" endpoint to documentation"
Hunting around the code for a solution to an issue, I discovered the "/config" endpoint.

This is a useful endpoint for confirming cloudprober's current configuration.

Please consider including it (I think it's not currently) in the documentation.

[2018-04-03 23:16] manugarg commented on #95
Thanks for the feedback @DazWilkin. You're right. It's currently not included in the documentation. I'll add it.

[2018-04-04 23:12] DazWilkin opened #96 "Unable to successfully run a probe in server mode"
It appears that the code is not successfully binding `stdin` (`stdout`, `stderr`) to `Cloudprober`.

I added some debugging and in `external.go` `sendRequest` `p.cmdStdin` is `<nil>`
[code]

The only place I have found where `p.cmdStdin` is assigned is `startCmdIfNotRunning` but I added a deubgging statement to this function and it appears not to be called. Additionally `Cloudprober` reports `Crea

[2018-04-05 01:25] DazWilkin commented on #96
Ah! That's it! Apologies for wasting your time. Thank you!

[2018-04-05 04:17] manugarg commented on #96
@DazWilkin Not a problem at all :) Thanks for reporting the issue.

[2018-04-05 04:17] #96 closed

[2018-04-13 18:46] bekriebel opened #117 "Float metrics values overflow on ARM systems"
When compiled for ARM, metrics values are overflowing when they are cast from float64 to int. This seems to be caused by ARM using int32 instead of int64 during the conversion. This results in high-value metrics getting set to either 2147483.647 or 0 (depending on which GOARM value is used) as soon as the value overflows int32.

The code causing this: https://github.com/google/cloudprober/blob/882

[2018-04-16 05:53] manugarg commented on #117
@bekriebel This is certainly a bug. Thanks for debugging this and the PR. Cloudprober's source of truth (SoT) is Google internal, which means that I'll have to import his pull request to the internal source and then export it back. Thankfully, this process preserves the original author.

Unfortunately, cloudprober was not setup properly for this kind of transformations (reverse). I was trying to s

[2018-04-16 19:27] bekriebel commented on #117
No problem. I already have it running in my environment with this change and it is working well. This seems to be the only change necessary for the code to work well on the ARM platform.

Thanks for your work on it!

[2018-04-16 23:55] manugarg commented on #117
@bekriebel Thanks. I wanted to ask if you'd mind if I get rid of the trimming completely (that is, we'll print trailing zeros) . I think it's making code a bit obscure and not adding as much value.

I can just do it at my end if that sounds good to you.

[2018-04-17 04:53] bekriebel commented on #117
@manugarg Yeah, that was my first inclination as well but wasn't sure if it was done this way for a reason. What do you think about just returning `fmt.Sprintf("%f", f.f)`? Since this is most likely being ingested by a receiver that is accepting it as a float anyway, I don't see the need to truncate the string at all. If a receiver can't accept this, it could always be truncated in the specific su

[2018-04-17 05:44] manugarg commented on #117
Importing this change back as #119. Please take a look.

Keeping precision of 3 decimal points as sometimes we get really long strings in the latency (.3333333.. kind of things). Also, using strconv instead of fmt.Sprintf as strconv is a bit faster.

[2018-04-17 06:56] manugarg commented on #117
Thanks again, Brint. Closing this issue now.

[2018-04-17 06:56] #117 closed

[2018-04-18 04:26] manugarg opened #120 "Introduce the concept of shared targets"
We could do it in two ways:
a) Define targets independently of the probes and assign each one of them a unique id. Then in the probe definition refer to that id.
[code]
b) Introduce the concept of probeset where a probeset is a set of probes that use the same targets.
[code]

[2018-04-25 00:59] manugarg opened #123 "How do you use Cloudprober?"
If you use Cloudprober, would you mind sharing how you use it[1]? This will help in two ways:

- We'll be able to plan its roadmap better. We'll know what are the features people care about and what we should work on.
- It will give us a warm fuzzy feeling and motivate us to do more 😄

[1] - For example, do you use targets discovery? Which monitoring system do you integrate with -- prometheus, sta

[2018-04-28 22:58] manugarg opened #126 "Consider adding stackdriver profiler to Cloudprober"
Reference:
https://cloud.google.com/profiler/docs/profiling-go

Apparently profiler can add up-to 5% overhead. We can make it an optional feature.

[2018-05-07 20:55] MrAlias opened #129 "Extend HTTP probe type to support more complex probes"
It would be useful if the HTTP probe was extended to supported the following:

- All HTTP method types (`GET`, `POST`, `PUT`, `HEAD`, `DELETE`, `PATCH`, `OPTIONS`).
- Request bodies.
- Arbitrary headers.

Being able to customize HTTP requests in these ways would allow for a more comprehensive probe into a system in line with normal user behavior.

[2018-05-08 19:46] dmicanzerofox opened #130 "Postgres Surfacer"
Currently, I am auditing using cloudprober with prometheus and [postgres remote endpoint](https://github.com/timescale/prometheus-postgresql-adapter).  It would simplify things drastically to be able to write to postgres directly from cloudprober.  I would be happy to contribute this if it's something that could be in cloudprober.

[2018-05-15 08:56] manugarg commented on #130
Sorry for the late response @dmicanzerofox. Postgres surfacer for Cloudprober sounds good to me.

[2018-05-24 07:41] manugarg commented on #129
Fixed in the commit 2ac8624.

[2018-05-24 07:41] #129 closed

[2018-06-29 00:35] manugarg commented on #130
https://github.com/google/cloudprober/commit/25134718bed687e5ebe5fa2d716369aef96489e9 adds the Posgres surfacer.

[2018-07-05 20:07] manugarg opened #141 "Add datadog surfacer"
This should be fairly straightforward. We should probably use:
https://github.com/DataDog/datadog-go

[2018-07-05 20:08] manugarg commented on #12
Whatever I had in mind while filing this issue is covered by:
https://cloudprober.org/how-to/external-probe/

[2018-07-05 20:09] #12 closed

[2018-07-09 16:01] dmicanzerofox commented on #130
Aw yes!! Thank you for all your time @manugarg ! We're going to be able to start using this shortly.  Would you still like the test scripts / documentation?  Should that be part of this issue??

[2018-07-11 17:45] manugarg commented on #130
@dmicanzerofox Sounds great. Once you start using it, would you mind sharing how you use cloudprober at https://github.com/google/cloudprober/issues/123.

Adding test scripts / documentation doesn't have to be part of this issue. However, you're probably the right person to add that, so it will be great if you can do that whenever you get a chance.

[2018-07-20 18:17] dmicanzerofox opened #142 "Community Grafana Prometheus Dashboard"
While creating grafana dashboards for cloudprober metrics are not very hard, I would personally really enjoy seeing how other people view cloudprobers output.  I was hoping that someone already had a grafana prometheus dashboard that they would be OK with publishing?
Thank you

[2018-07-22 21:52] dmicanzerofox commented on #123
@manugarg I am trying to roll out cloudprober at my org and wrote a bit about it, I"m not sure if it's what you had in mind but hopefully will be able to update with how we use it in the very near future

https://medium.com/@dm03514/sre-availability-probing-101-using-googles-cloudprober-8c191173923c

[2018-07-23 19:00] manugarg commented on #123
@dmicanzerofox This is perfect. Thanks for sharing.

[2018-07-25 15:58] paprockiw commented on #123
I'm looking into using Cloud Prober as an alternative to Prometheus Blackbox Exporter, since it offers some nice baked-in tools and can be configured to do more. I like it so far, but more documentation and examples would be helpful.

[2018-07-26 08:58] manugarg commented on #123
@paprockiw Thanks for the feedback! I'll try to add more documentation and examples.

[2018-07-30 15:57] Daxten opened #144 "[Bug] Cloudprober stops working"
We are using Cloudprober to ping ~20 hosts currently. From time to time it stops working, without crashing the container. The HTTP Endpoint still works, but there are no new results generated.

[2018-07-30 17:02] manugarg commented on #144
@Daxten Thanks for the report. Can you tell me a little bit more about your setup?

- Are you running on GCE?
- Can you access container logs?
- Where are you writing your data?
- Do symptoms recover on their own, i.e. do you start seeing results after a while without taking any action?
- Can you share your config (you can scrub the internal details, of course).

[2018-07-30 18:10] Daxten commented on #144
Wow, thanks for coming back to me so fast!

* We are running Rancher using Cattle, I think the problem can be breaked down to "we are using basic docker container"
* Yes I can access Container logs in that case, I will take a closer look the next time it happens, but at least STDOUT didn't have anything interesting the last time, anything else where I should look?
* We are using prometheus to poll

[2018-07-31 12:03] manugarg commented on #144
I think I'll wait for config before commenting further. It does sound like a bug in cloudprober that is getting surfaced by something in your environment.

Also, are you running the latest cloudprober, that is, the latest cloudprober image, built from the source, or the last release (0.9.3)?

[2018-08-01 08:13] Daxten commented on #144
Hi, I sent you the config.

With 0.9.3 the problem kept persisting until restarting I THINK

I switched to latest for a week now, and it seems like it regenerates on itself after a few hours with this version

[2018-08-01 17:05] manugarg commented on #144
@Daxten I got the config, thanks! I'll certainly recommend using the latest cloudprober image instead of 0.9.3 -- there have been some bug fixes since that version.

I am not sure why cloudprober will stop working. Trying to think of a few options aloud:

1. It's possible there is some bug in prometheus surfacer. One way to exclude this will be to look at logs. By default, cloudprober logs all pro

[2018-08-06 07:57] Daxten commented on #144
Hey,
thanks for helping out so much, I send you the log right now.

[2018-08-10 05:10] manugarg commented on #144
Hi @Daxten,

I got the logs. Also, responded over email but to close the loop here:

===
Looking at the logs, it seems that this is not probe specific as all probes stop outputting the data at around the same time. I'll try to add some more logging and profiling, and provide you with a different container image version. Sorry, it may require some more work.

Just to collect some more info -
- You'

[2018-08-21 19:29] brat002 opened #149 "[feature] --reload"
Would be nice to have `reload` command to re-read configuration instead of restart main process.

[2018-09-07 11:56] vivekbny commented on #123
I am using PING probe and trying to ping my hosts. But it is not working. it doesn't show in the UI.

Can you please advise
@paprockiw @manugarg
probe {
   name: "test_ping_job"
   type: PING
   targets {
   gce_targets {
       instances {}
        }
	}
	run_on: "{{"r00*****.bnymellon.com,r00*****.bnymellon.com"}}"
   interval_msec: 12000  # 5s
   timeout_msec: 6000 # 5s

[2018-09-07 13:55] manugarg commented on #123
@vivekbny Can you file it as a separate issue. This issue is for a different purpose.

[2018-09-07 18:04] vivekbny opened #153 "How to setup a ping probe in cloudprober.cfg"
Hi,
@manugarg
We are trying to replace the existing BB exporter with cloudprober now. We were able to test the DNS and HTTP probes.
But when we try to test PING probe, it is not working as expected. Can you please assist/tell if something is wrong with my cloudprober.cfg

probe {
   name: "test_ping_job"
   type: PING
   targets {
     gce_targets {
       instances {}
     }
     }
	run_on: "{{"1

[2018-10-11 14:11] dmicanzerofox opened #157 "Thoughts: Synthetic Transaction Support?"
My current org (and many previous places i've been a part of) have a need for a tool which can be used to drive synthetic transactions by applying an application level input on a schedule (much like registering a probe :p).  This service could measure latency/success of message processing (with a timeout).  In my head this service is different from a probe as it would potentially need to support m

[2018-11-01 21:01] dmicanzerofox commented on #157
Ah i thu j

[2018-11-01 21:01] #157 closed

[2018-11-01 21:16] manugarg commented on #157
@dmicanzerofox Sorry, I completely forgot about this. About your proposal, we have internally been talking about adding ad-hoc probe execution capabilities (through a gRPC service) to cloudprober but haven't gotten around to designing and implementing it. Your sounds similar and makes sense to me.

Now that you closed this issue, did you think of some other ways of doing it? :)

[2018-11-01 21:18] manugarg commented on #153
@vivekbny closing this issue due to lack of response. Please feel free to re-open if you're still encountering a problem.

[2018-11-01 21:18] #153 closed

[2018-11-20 22:55] manugarg commented on #82
https://github.com/google/cloudprober/commit/a5ac6ddca6d1e1de626950a38d3dc025a6e828a9 added validators framework to cloudprober. This framework allows adding validators to probes. Currently there are two validators available -- HTTP status code and data integrity. Regex based validator will be added soon.

[2018-11-30 02:57] MrDragon1122 opened #169 "Is em.Clone redundant?"
// Start starts the probe and writes back the data on the provided channel.
// Probe should have been initialized with Init() before calling Start on it.
func (p *Probe) Start(ctx context.Context, dataChan chan *metrics.EventMetrics) {
	if p.conn == nil {
		p.l.Critical("Probe has not been properly initialized yet.")
	}
	defer p.conn.close()
	for ts := range time.Tick(p.opts.Interval) {
		// Don't

[2018-11-30 17:37] manugarg commented on #82
Commit https://github.com/google/cloudprober/commit/cd0610a2562b5a4ce54210960267308d64bea212 adds regex based validator. I'll soon add an example to demonstrate how this works.

[2018-12-01 06:27] #82 closed, assigned to manugarg

[2018-12-03 07:19] MrDragon1122 commented on #169
Clone does the new application for a piece of memory and then returns

[2018-12-04 02:50] MrDragon1122 commented on #169
Thanks for your guidance.
I also found a problem in the test, that is, the data in the Prometheus interface may be stale. If the prometheus database receives older data (such as 7 days ago), it will report an error. Therefore, the time should be added when the interface writes data, and the old data is not sent.

[code]

[2018-12-04 22:19] manugarg commented on #169
@MrDragon1122

It's only a non-default option to not specify timestamp in prometheus surfacer. We added that because someone had an issue exporting data because of time-synchronization issues.

Am I understanding your concern correctly?

[2018-12-08 18:30] #130 closed

[2018-12-08 18:32] manugarg commented on #144
@Daxten, I was wondering if you're still experiencing this issue. Can we close this issue if you're not.

Thanks,
Manu

[2018-12-08 18:35] manugarg opened #182 "Add a status page that show current probes, servers and surfacers;"

[2018-12-08 18:56] manugarg commented on #169
@MrDragon1122 Can you point me to the prometheus documentation or code that says that it will reject the whole scrape if a metric has a timestamp older than 7d. Or, let me know if I didn't understand the issue clearly.

Also, cloudprober, by itself, re-exports all the relatively unchanging sysvar values, e.g. hostname, environment variables, etc and all the system probes should also keep generatin

[2018-12-11 19:51] manugarg commented on #169
Committed https://github.com/google/cloudprober/commit/5d59e2c15807e8471cdbb590f2e899459514ed38 to fix the Clone() issue.

@MrDragon1122 Can you please create a different issue for the prometheus question. I'd do it myself but I think I am not clear about what's the real issue there. Appreciate you looking at it.

Thanks,
Manu

[2018-12-11 19:51] #169 closed

[2018-12-11 19:57] manugarg commented on #144
Closing this due to inactivity. Please feel free to reopen if it's still a problem. I'll be more than happy to debug this with you. Cheers.

[2018-12-11 19:57] #144 closed

[2018-12-13 19:48] manugarg commented on #95
This is done now. Added a verification section to the "Getting Started" page: https://cloudprober.org/getting-started/

[2018-12-13 19:48] #95 closed

[2018-12-13 21:34] manugarg opened #188 "Ping probe doesn't support distributions"
Filing a retrospective issue:

Ping probe didn't honor the "latency_distribution" directive in the probe configuration. This was fixed by the commit https://github.com/google/cloudprober/commit/191b66151106023d3b8c3b359d3c4bb71f9f7dfd.

[2018-12-13 21:35] #188 closed

[2019-01-17 01:21] manugarg opened #192 "Failing HTTP targets result in a disproportionate amount of increase in pending TCP connections and goroutines"
We noticed that if HTTP probes are failing for some targets, it results in a disproportionate amount of increase in pending TCP connections and goroutines. Increase in number of goroutines (as reported by cloudprober's sysvars module) was almost about 45 times the number of failing HTTP targets.

[2019-01-17 01:35] manugarg commented on #192
I think client.Timeout is not having the desired effect on the underlying connection calls and we should switch to using request based contexts (when this probe was implemented HTTP requests didn't support contexts).

So this is what seems to be happening:

1. client.Timeout gets attached to the request in the form of a "Cancel" channel (req.Cancel) which gets closed at the deadline (set to time.U

[2019-01-23 16:08] artherd42 opened #195 "[feature] Prepend a prefix to all metrics"
A meaningful prefix, e.g. cloudprober_, would help to distinguish the cloudprober metrics from other metrics. It should be prepended to all stats, automatically.

[2019-01-24 08:37] Beatrice7 commented on #13
should add a sample.

[2019-01-25 00:44] Beatrice7 opened #197 "external prober type for latency with dist metrics."
how to for : external prober type for latency with dist metrics and dist timeunit.

[2019-01-25 00:54] Beatrice7 commented on #197
external_probe: {
    mode: SERVER
    command: ""

    output_metrics_options {
      dist_metric {
        key: "latency"
        value: {
          explicit_buckets: "1000,10000,100000,1000000,2000000,3000000"
        }
      }
    }
  }

for this ?

[2019-01-25 01:08] Beatrice7 commented on #197
From the metrics output, it is wrong.

[2019-01-25 02:55] manugarg commented on #197
@Beatrice7 What is your external probe outputting?

Here is an example config:
https://github.com/google/cloudprober/blob/master/examples/external/cloudprober_aggregate.cfg

that works with the following external prober:
https://github.com/google/cloudprober/blob/master/examples/external/redis_probe.go

Basically external prober outputs strings like this:
set_latency_ms 1.231,1.101,1.006 (comma se

[2019-01-25 22:57] manugarg opened #199 "Investigate why UDP tests are flaky on Travis MacOS environment"
Example failure:
https://travis-ci.org/google/cloudprober/jobs/484066432

It's mostly TestLossAndDelayed test that fails. Failure is mostly due to failing to receive expected number of packets:
	udp_test.go:339: Case(delayed_2): p.res[_].delayed=9, want 10
	udp_test.go:339: Case(delayed_2): p.res[_].delayed=9, want 10

[2019-01-28 02:17] Beatrice7 commented on #197
but i said the latency metrics is  clouprober build-in metrics.

[2019-01-28 05:59] manugarg commented on #197
Sorry, I am not sure I am following you, but I'll try.

If you're using cloudprober's internal metric 'latency', then you have to use different configuration field:
https://github.com/google/cloudprober/blob/daff2753edb47d637a0a60eb49f0931d20774bba/probes/proto/config.proto#L52

It will look something like this:

[code]

Please let me know if that works for you.

[2019-01-28 08:11] Beatrice7 commented on #197
Thanks for your replied.

but it  can work for type EXERNEL, and only working for type ping.
I have tried it.

[2019-01-28 08:36] manugarg commented on #197
@Beatrice7 Can you please share your whole config and error message?

It should work on EXTERNAL probe type too, but for external probe type, your external program should use a metric name other than "latency".

Cloudprober will independently produce a "latency" metric based on how long does server take to respond to the cloudprober request.

[2019-01-28 08:40] Beatrice7 commented on #197
pls see https://github.com/google/cloudprober/blob/master/probes/external/external.go

// Probe holds aggregate information about all probe runs, per-target.
type Probe struct {
	name    string
	mode    string
	cmdName string
	cmdArgs []string
	opts    *options.Options
	c       *configpb.ProbeConf
	l       *logger.Logger
	ipVer   int

	// book-keeping params
	labelKeys  map[string]bool // Labels f

[2019-01-28 08:42] Beatrice7 commented on #197
and ple see https://github.com/google/cloudprober/blob/master/probes/ping/ping.go

// Probe implements a ping probe type that sends ICMP ping packets to the targets and reports
// back statistics on packets sent, received and the rtt.
type Probe struct {
	name string
	opts *options.Options
	c    *configpb.ProbeConf
	l    *logger.Logger

	// book-keeping params
	source            string
	ipVer

[2019-01-28 08:49] manugarg commented on #197
Ah, you're right. Sorry, I forgot that only HTTP, PING and UDP probes support distributions for latency right now. External probe and DNS probes don't.

It should be easy to fix though. Would you like to send a PR? If not, I can get to it tomorrow.

[2019-01-28 08:57] Beatrice7 commented on #197
i like it, but I haven't pulled request yet, How do I follow the steps?

[2019-01-28 09:06] manugarg commented on #197
Here is the process for contributing to cloudprober:
https://github.com/google/cloudprober/blob/master/CONTRIBUTING.md

For generic PR related information, you'll have to search for "github pull request process" over internet.

However, I have already made a change for this particular issue. I'll commit that tomorrow. But you're welcome to contribute in future. I'd suggest that start with creating

[2019-01-28 18:13] #197 closed

[2019-01-28 18:18] manugarg commented on #197
@Beatrice7 Sorry about the communication confusion, but In the comment above you had said:
"i like it, but I haven't pulled request yet, How do I follow the steps?"

That's the reason I sent you links about cloudprober's CONTRIBUTING.md and a way to find information about github PR process.

Anyway, I've committed a fix for the issue now. Please feel free to re-open if it still doesn't work for yo

[2019-01-29 00:55] Beatrice7 commented on #197
Thank you very much.

[2019-01-29 02:14] Beatrice7 opened #204 "github.com/google/cloudprober/cmd:certs has removed, is it not needed?"
at the github.com/google/cloudprober/cmd/BUILD file， in the past

filegroup(
    name = "certs",
    srcs = [
        "ca-certificates.crt",
    ],
)

but now it has been removed， is it not needed?

[2019-01-29 03:31] manugarg commented on #204
@Beatrice7 Wondering where do you see that file? It's from our internal build system (bazel). As far as I remember, we've never exported this file to Github :)

[2019-01-29 03:35] Beatrice7 commented on #204
In the source code of early 2018

[2019-01-29 03:37] Beatrice7 commented on #204
package(default_visibility = ["//visibility:public"])

load("@io_bazel_rules_docker//docker:docker.bzl", "docker_build")
load("@io_bazel_rules_go//go:def.bzl", "go_binary", "go_test")

go_binary(
    name = "cloudprober",
    srcs = ["cloudprober.go"],
    deps = [
        "//third-party-go/vendor/cloud.google.com/go/compute/metadata:go_default_library",
        "//third-party-go/vendor/github.com

[2019-01-29 09:21] Beatrice7 commented on #204
ok，thanks，then I don't care.

[2019-02-05 17:00] #204 closed

[2019-02-05 23:33] MrHohn commented on #149
FWIW, one potential use case would be running cloudprober with kubernetes cluster. With the configuration mounted via a configMap (like what https://github.com/google/cloudprober/issues/89 does), we can easily implement dynamic probing by editing the configMap in-flight.

[2019-02-11 12:44] AndrzejKasiewicz opened #206 "Partial configuration reload"
Hi,
we are considering usage of Cloudprober in our organization as a part of ErrorBudget tool. We would like to use it to gather metrics from Elastic (numbers of failed/succeeded requests etc.). Second metric source would be active probing services healthchecks. Implementing probe for Elastic shouldn't be a problem. And we can use http probe for healthchecks. But metrics can be changed by users as

[2019-02-12 09:09] manugarg commented on #206
@AndrzejKasiewicz I am glad to hear that you're considering cloudprober for error budget calculations.

However, I am curious how will you lose data if cloudprober is restarted. Cloudprober works in conjunction with another monitoring system -- currently supported monitoring systems are  prometheus, stackdriver or PostgresSQL. There are usually bridges available between prometheus and other monito

[2019-02-12 10:14] AndrzejKasiewicz commented on #206
Hi, thanks for your answer!

Basically we want to scrape logs from Elastic and create metrics based on them in Prometheus. Probe would execute query how many requests succeeded and failed in recent time window. Time window for a probe would move every time it runs.

So when a cloudprober is restarted we wouldn't know which part of Elastic logs was already scraped and stored in Prometheus.

Also re

[2019-02-13 08:56] manugarg commented on #206
Thanks for explaining your use case @AndrzejKasiewicz.

Two things:
1. Restarting cloudprober should ideally take less than a second. For example if you were using docker containers, if you pull the docker image in advance (with docker pull), stopping and starting cloudprober docker image should happen in less than a second. Now, I am not aware if there are certain conditions that make it not so.

[2019-02-14 19:13] MrHohn opened #212 "Jitter to avoid thundering herd?"
Is there any jitter configuration that we can use to avoid large amount of probes going to the same target simultaneously? Context: launching many cloudprober instances at the same time on various locations to probe the same set of targets.

[2019-02-19 09:25] manugarg commented on #212
@MrHohn Unfortunately, there is no jitter configuration right now. We usually want probes to run at the specific times, but I can imagine cases where a bit of a jitter will help.

Regarding the thundering herd problem, are all the cloudprober instances being launched simultaneously (curious what's the probe interval)? If it's not possible to stagger the launching of the instances, one of the thing

[2019-02-20 01:21] MrHohn commented on #212
@manugarg Thanks for your inputs. Given an another thought, stagger the launching of the cloudprober instances or even introduce a random delay at startup would be an easy enough option that suffices our use case.

I'm closing this, thanks!

[2019-02-20 01:21] #212 closed

[2019-03-14 04:50] manugarg commented on #206
@AndrzejKasiewicz I was wondering what did you decide. Do you think we can close this issue now?

[2019-03-18 09:01] AndrzejKasiewicz commented on #206
Hi, for now we decided to use modified version of blackbox exporter. Maybe we will be able to come back to cloudprober someday as its other features would fit well in our setup, but this partial reload issue blocked us from using it.

[2019-03-18 09:01] #206 closed

[2019-03-18 16:11] manugarg opened #220 "Allow users to pass TLS config for the HTTPS probe"
This issue is to track the feature proposed in the PR:
https://github.com/google/cloudprober/pull/108

That PR is quite out of sync now and as the author has not responded on the PR for a while now, capturing the feature request here and closing the PR.

[2019-03-18 16:17] manugarg commented on #195
Is this request specifically for prometheus surfacer? To avoid breaking existing deployments, we can actually make it an option, rather than doing it automatically.

[2019-03-19 10:04] mazing80 opened #222 "A panic occurred when used HTTP probe"
I have used multiple HTTP probes with one cloudprober.
But, after some time, panic occurs. (about 30 minutes or 1 hour later)

Environment:
 OS: CentOS 7.6.1810
 Docker: 18.09.3
 Cloudprober: v0.10.1

[code]

[2019-03-19 16:13] manugarg commented on #222
@mazing80 Thanks a lot of reporting the issue.

This panic is very strange though. goroutine that you pasted above is running the prometheus surfacer and is in bufio.Writer.Flush(). I can't imagine a reason for a panic in that function as the data is already prepared by the time that function is called (unless there is a bug in net/http or bufio -- extremely unlikely). I think there must be other

[2019-03-20 18:27] bekriebel opened #225 "Non-Datagram Packet Ping fails with multiple targets"
On the current master branch (667a6db), when the setting `use_datagram_socket: false` with multiple targets, the ping begins failing with the error `packet too small: size (4) < minPacketSize (16)`. If two targets are specified, it seems like half of the packets start failing. If three or more targets are listed, no packets from the third+ targets will succeed.

This can be seen using this config:

[2019-03-20 18:31] manugarg commented on #225
@bekriebel Thanks for reporting the issue. We did make some changes to the ping probe's code recently (https://github.com/google/cloudprober/commits/master/probes/ping) to improve the memory performance. I'll take a look at what might be going on here.

[2019-03-20 18:45] bekriebel commented on #225
Thanks, @manugarg. I just did a bisect and did indeed find that the first point where the error presents itself is in commit 8932ffb393be912137077ea475baf02fee6591a8. I'm going to dig into it a little further, but may not have time to find the root cause right now.

In case it makes a difference, I'm building on Windows Subsystem for Linux. I've attempted to run on both WSL and an ARM board, both

[2019-03-20 18:58] manugarg commented on #225
Thanks @bekriebel. I confirmed that it's the commit https://github.com/google/cloudprober/commit/8932ffb393be912137077ea475baf02fee6591a8#diff-c9bd39f324facba8690a0ef9b7be50d6 that introduced the bug. In this change, we started parsing ICMP messages ourselves instead of relying on icmp.ParseMessage as icmp.ParseMessage is not memory efficient. There should be a problem somewhere in that parsing lo

[2019-03-20 19:38] manugarg commented on #225
I found the bug. I'll send a fix and add more details shortly.

[2019-03-20 19:45] bekriebel commented on #225
Taking a guess that it has to do with the `pktbuf` channel. It looks like it isn't being reused cleanly. I noticed if I move it into the tracker channel's for loop, it fixes the issue; but I'm not sure if that is the cleanest fix.

[2019-03-20 19:58] manugarg commented on #225
@bekriebel I am in the process of exporting the change, but in the mean time, problem was in the fact that we were resetting pktbuf inside the loop to a smaller size after every run.

Regarding your diff, I actually wanted to keep memory allocation outside the for loop. For small number of targets it doesn't matter much, but for large number of targets (say 1000+), like we have in some of our setu

[2019-03-20 20:10] #225 closed

[2019-03-20 20:11] manugarg opened #227 "Enhance ping probe testing"
Improve ping probe tests to cover cases like the one reported in: https://github.com/google/cloudprober/issues/225.

[2019-03-22 23:47] manugarg commented on #227
Just want to add that detecting #225 through unit tests was really hard because that bug is triggered only if we receive packets smaller than the configured packet size (payload size + icmp header size). This happens with raw sockets in the wild because kernel delivers all kind of ICMP packets to us and those packets may be smaller than what cloudprober would send.

Given this specific nature of #

[2019-03-25 11:21] mazing80 commented on #222
@manugarg Thank you for the quick reply!
Sadly, the stack trace is that's all. I also think it is a strange issue.
Anyway, I also will debug it.

Thank you!

[2019-03-25 16:14] manugarg commented on #222
@mazing80 If you could share your config (privately if you'd prefer that), I can keep a cloudprober running with that config, or even look at the code for venues for possible panics. Also, if you have any other info, for example if adding of a specific probe or surfacer causes it, that will also help.

[2019-03-28 05:26] mazing80 commented on #222
@manugarg Sorry for the late reply.
Here is my sample configuration:
[code]

But I found the cause.
Please see this code: https://github.com/google/cloudprober/blob/master/surfacers/prometheus/prometheus.go#L144-L159

If you look at the code, `http.HandleFunc (ps.c.GetMetricsUrl (), ..)` can be run multiple at the same time, and `done` will be passed to all currently running `http.HandleFunc (ps.c

[2019-03-28 17:12] manugarg commented on #222
@mazing80 That's a great find. Excellent work :)

This bug is quite hard to reproduce because even if serving multiple requests in parallel, it depends a bit on chance -- which handler will read from the "done channel" first. Logic is clearly flawed though. I'll review your PR. Thank you!

[2019-04-05 17:34] manugarg commented on #222
Fixed by: https://github.com/google/cloudprober/commit/e086f8ef85cb1e7370cde07263bb314b8484cba2.

[2019-04-05 17:34] #222 closed

[2019-04-10 03:12] MrDragon1122 commented on #222
Prefect! I also encountered the same problem. I will verify if it can be solved effectively.

[2019-04-10 19:12] manugarg commented on #222
@MrDragon1122 Thanks for reporting. Please do let us know what you find :)

[2019-04-12 05:37] athul20 opened #231 "Cannot capture string values"
Cloudprober is not able to capture the string values outputted by a script while running the script through cloudprober. Cloudprober at the moment can capture numerical values, an enhancement is needed to capture string values.

[2019-04-19 23:24] tweetyss opened #232 "Error download and run the latest docker image"
Hi all, I am a newbie. Help is appreciated. Thanks.

$ docker run --net host cloudprober/cloudprober
I0419 23:19:54.254899       1 cloudprober.go:130] Error reading config from metadata. Err: metadata: GCE metadata "project/attributes/cloudprober_config" not defined
W0419 23:19:54.255019       1 cloudprober.go:139] Config file /etc/cloudprober.cfg not found. Using default config.
I0419 23:19:54.30

[2019-04-20 13:28] manugarg commented on #232
Looks like something is already listening on port 9313. It's possible it's another instance of cloudprober; you can verify that by going to http://localhost:9313/status.

In any case, you can change cloudprober listening port by setting the environment variable CLOUDPROBER_PORT before running the docker command:

$ export CLOUDPROBER_PORT=9314

[2019-04-22 07:27] manugarg commented on #232
Closing as this is not really a cloudprober issue. It's a port conflict issue that can be resolved by the suggestion above.

[2019-04-22 07:27] #232 closed

[2019-04-22 17:36] tweetyss commented on #232
I already tried "export CLOUDPROBER_PORT=9314" and do the "docker run" command again but still see the same error:

F0422 17:34:59.838048       1 cloudprober.go:178] Error initializing cloudprober. Err: error while creating listene
r for default HTTP server. Err: listen tcp :9313: bind: address already in use

[2019-04-22 17:41] tweetyss commented on #232
$ curl  http://localhost:9313/status

...
<b>Started</b>: Fri, 19 Apr 2019 23:09:02 UTC -- up 66h29m10.909013325s<br/>
<b>Version</b>: <br>
<b>Config</b>: <a href="/config">/config</a><br>
<h3>Probes:</h3>
<table class="status-list">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Interval</th>
    <th>Timeout</th>
    <th width="20%">Targets</th>
    <th width="30%">Probe Conf</th>
    <th>Lat

[2019-04-22 17:42] tweetyss commented on #232
Looks like what you said, another instance of cloudprober has run (how? I don't know) with an empty config. Is there a way to stop it?

[2019-04-23 06:18] manugarg commented on #232
@tweetyss I suggest that you search for "how to stop a process" or how to stop a docker container.

[2019-04-25 20:00] faiyazshk opened #233 "Http probe does not read system variable for http/s_proxy settings or provide a way to specify network proxy details"
Tried the example on cloudprober.org calling google.com but it failed as in my network I can only make external calls via network http proxy settings but the system proxy settings are ignored and also there is no way to specify proxy url and port in the probe configuration.

[2019-04-26 03:11] manugarg commented on #233
Fixed by the commit: f1878a9f795b6f78630eabca246a1588659532d5. Environment variables should work now.

[2019-04-26 03:11] #233 closed

[2019-04-27 03:45] #231 closed

[2019-04-27 03:46] manugarg commented on #231
You'll need to use the latest docker image (instead of the versioned one) to be able to use this feature.

[2019-05-07 05:38] athul20 commented on #231
Hi Manu,
Thanks for the help.I am just curious to know when will you provide the enhancement in binary version.

[2019-05-07 07:24] manugarg commented on #231
I am not planning to cut a new release anytime soon (about 2 months). However building from the source should be straight-forward. From https://cloudprober.org/getting-started:

Assuming that Go is already installed (if not, please follow Go installation process):
[code]

If you are using docker, you can simply use the image with the "latest" tag.

[2019-05-07 08:36] athul20 commented on #231
Thanks Manu. I am using the docker but was not able to run a python script since python is not present in docker image.So is there a way to get that done?

[2019-05-14 05:39] wanghonglei5181 opened #237 "how to write dns config"

[2019-05-14 05:40] wanghonglei5181 commented on #237
[code]
[code]

[2019-05-14 05:59] wanghonglei5181 commented on #237
https://groups.google.com/forum/#!topic/cloudprober/dpVr6eCwxOg

[2019-05-14 08:07] manugarg commented on #237
Put DNS prober specific config under dns_probe:

[code]
query_type enum is defined here:
https://github.com/google/cloudprober/blob/6d530d843d2a584b857e199389e9765df984df8f/probes/dns/proto/config.proto#L6

[2019-05-16 16:35] manugarg commented on #237
Assuming my suggestion worked, closing this.

[2019-05-16 16:35] #237 closed

[2019-05-22 07:07] wanghonglei5181 commented on #237
@manugarg    Thanks！！

[2019-05-29 12:33] kolobok01 opened #241 "HTTP probe headers value"
Is it possible to specify headers value in the cfg file ?
[code]

[2019-05-29 13:27] #241 closed

[2019-05-30 15:07] tklovett commented on #142
Ditto on this. It would also be nice to have some community sanity-checking on what to monitor and how to monitor it accurately. I'll start!

### Overview
#### Current Probe State (SingleStat w/ spark line)
[code]

#### Success Rate
[code]

### Detailed View
#### Probe Latency (ms)
[code]

#### Probe Failure Rate (%)
[code]

#### Probe Response Status Codes (Stacked %)
[code]

[2019-05-30 15:12] tklovett commented on #195
👍 for this request – finding and understanding a metric called `total`, `success`, or `failure` in Prometheus's auto-completion is challenging. This is _especially_ true for new team members who were not involved in getting Cloudprober set up initially.

[2019-05-31 21:04] manugarg commented on #195
Feature has been added to the HEAD now. Metrics prefix can be changed by having the following in cloudprober config:

surfacer {
  type: PROMETHEUS

  prometheus_surfacer {
    metrics_prefix: "cloudprober_"
  }
}

[2019-06-06 15:56] p-singh opened #244 "[Enhancement] Dynamic updates from config file"
Monitor config file regularly to read new probes without having to restart cloudprober again

[2019-06-09 21:12] manugarg commented on #244
This issue is a duplicate of https://github.com/google/cloudprober/issues/149.

[2019-06-09 21:31] manugarg commented on #149
Dynamic reloading of config in cloudprober is non-trivial to implement. Cloudprober forks off quite a few goroutines to run probes and other components like servers and surfacers. It also opens a bunch of listening sockets. We use contexts in most cases to keep track and shutdown these goroutines, but it's hard to guarantee that everything will clean up nicely and in time,  in the case of a contex

[2019-06-10 00:27] manugarg commented on #149
Thinking more about it, I am not sure if I understand the requirement and use case clearly.

@MrHohn, regarding your comment about reloading config in response to configMap changes, I was wondering if that will not be an unsafe thing to do? There will be no way to rollout this change slowly as configMaps themselves don't seem to have a way to rollout slowly. Can you please comment if that's okay i

[2019-06-10 00:35] manugarg commented on #244
Sorry for marking this duplicate without understanding the use case properly.

@p-singh Can you please clarify what kind of setup and use-case you had in mind? In my mind, cloudprober config and binary will be deployed together as one unit. They will be updated at the same time. But that thinking is based on using containers for deployments. Are you using containers as well? or some other form of

[2019-06-10 03:18] manugarg commented on #149
This stackoverflow thread discusses the same issue:
https://stackoverflow.com/questions/37317003/restart-pods-when-configmap-updates-in-kubernetes

[2019-06-10 19:13] p-singh commented on #244
@manugarg I am looking for a way for different application owners to use a single deployment of cloudprober. A tentative idea is to provide a web-service interface (separate to the cloudprober) to users to add their specific probes to the configuration file, to get their own monitoring data but without interrupting other running probes.

[2019-06-10 19:16] p-singh commented on #27
@manugarg I would like to contribute to this feature. Could you let me know what initial ideas you have in mind and some pointers to start and I shall take it up from there?

[2019-06-10 21:14] manugarg opened #246 "Add gRPC service to dynamically configure Cloudprober"
Cloudprober should provide a gRPC service that can be used to configure cloudprober dynamically and remotely.

To be begin with, service should allow only adding and removing probes. We can later on think about allowing editing existing probes. Adding and removing probes must be much easier than editing existing probes.

[2019-06-10 21:40] manugarg commented on #244
I see. I believe the right way to implement the functionality you want will be to have a gRPC service to add/remove probes (#246). We have talked about it before internally and in the context of other issues (e.g. #206), but haven't started working on creating a specification for that yet. I'll try to take it up soon.

Other than that, I wanted to mention that it should always be okay to restart c

[2019-06-10 22:15] manugarg commented on #246
Look at #26 for similar but slightly different issue.

[2019-06-10 22:54] MrHohn commented on #149
Thanks for getting back @manugarg. Now I think about this, it makes much sense that we handle this one layer above cloudprober. As you said, it is non-trivial to implement and hard to guarantee safety with cloudprober alone.

Simply making clourprober quit itself when config changes may work but sounds a bit too tangled. It also won't have a way to stop the rollout if new config is found broken.

[2019-06-14 10:39] manugarg commented on #244
I think https://github.com/google/cloudprober/issues/246 will address the dynamic config update issue. Feel free to reopen if you disagree.

[2019-06-14 10:39] #244 closed

[2019-06-14 11:19] manugarg commented on #27
@p-singh That's great. I actually didn't give much thought to the implementation, but thinking about it now, it seems like main challenge is going to be abstracting out various credential formats. I am most familiar with Google style credentials and for those, first step could simply be supporting Application Default Credentials:
https://cloud.google.com/docs/authentication/production#providing_cr

[2019-06-18 15:49] manugarg commented on #246
PR https://github.com/google/cloudprober/pull/250 adds this support.

[2019-06-29 14:07] cilindrox commented on #149
@MrHohn got the reload working by adding an annotation on the Deployment based on the config's sha256 sum, this pattern is described by [Helm on its docs](https://helm.sh/docs/charts_tips_and_tricks/#automatically-roll-deployments-when-configmaps-or-secrets-change)
This ensures pods will roll whenever the contents of the configmap change.

[2019-07-01 17:36] manugarg opened #252 "Modify CLOUDPROBER_PORT parsing to work with Kubernetes"
Kubernetes automatically sets the environment variable `<SERVICE>_PORT` to the full TCP URL, e.g. tcp://10.1.1.4:9313 [1]. This doesn't work very well if somebody runs cloudprober as "cloudprober" Kubernetes service as in that case Kubernetes will set the CLOUDPROBER_PORT variable to the TCP URL while cloudprober expects just the port number in the CLOUDPROBER_PORT environment variable.

@DazWilki

[2019-07-01 17:37] manugarg commented on #89
Filed #252 to modify CLOUDPROBER_PORT parsing to work with Kubernetes.

[2019-07-01 17:38] manugarg commented on #149
@cilindrox That's great. Thanks for sharing.

[2019-07-01 17:42] manugarg commented on #89
Closing this issue now.

In case someone adopts the ConfigMap proposal described by Daz at the top, I'd also recommend to look at https://github.com/google/cloudprober/issues/149#issuecomment-506959471 for how to rollout ConfigMap updates.

[2019-07-01 17:42] #89 closed

[2019-07-09 16:08] jbkc85 opened #255 "adding additional labels for an EXTERNAL probe"
I am attempting to run an EXTERNAL probe that provides additional label values (based on the validation and HTTP examples).  Here is what I came up with:

[code]

[code]

Yet, cloudprober does not want to read this and quickly removes it from the parsed metric values.  Am I doing something wrong here?  Is adding additional labels on runtime of an EXTERNAL probe not allowed?

[2019-07-09 18:00] manugarg commented on #255
Sorry for the lack of documentation on special data types -- map and distributions. What you're trying to use here is the 'map' data type.

Your printf statement and what you wrote afterwards don't match, but if your string looks like the following it should work:
service_resource_health map:service,database:1,elasticsearch:1

An example map string from the tests:
https://github.com/google/cloudpr

[2019-07-09 18:16] jbkc85 commented on #255
[code]

[code]

CFG looks like:

[code]

[2019-07-09 18:19] jbkc85 commented on #255
for some reason it just skips over the former external cloudprober output.

The golang code (sorry for the earlier pasting, i took out the `=` sign) looks like this:

[code]

Which then is simply returned via fmt.Println of the returned string

[2019-07-09 18:30] manugarg commented on #255
@jbkc85 Can you also share which cloudprober version are you using? Support for parsing maps was added to external probe in May 2019.. and is available only in the version from the head (or docker latest label).

[2019-07-09 18:33] jbkc85 commented on #255
[code]

[2019-07-09 18:34] jbkc85 commented on #255
that may explain it.  I was seeing it done with the `validator` area, so I figured it would be available in the `external` probe area.

I dont suppose this will be in a 'release' anytime soon will it? 😬

[2019-07-09 18:37] manugarg commented on #255
Argh, sorry :(

It will be. I'll cut a new release some time this week. Just waiting for last few changes to go in.

[2019-07-09 18:48] jbkc85 commented on #255
@manugarg thats awesome!  I just built off of master and verified its working.  I will be happy to submit some documentation too.  We are basically transitioning all of our Nagios 'health' checks (which read pure JSON) to a interface-enabled golang external probe triggered via CloudProber.  We also have consul-template feeding our cloudprober config, so though the cfg itself is super messy right n

[2019-07-09 18:48] #255 closed

[2019-07-12 23:02] manugarg opened #258 "External probe's ONCE mode has a concurrency issue while running for multiple targets"
While running in ONCE mode, probes for multiple targets are executed in parallel and shared result maps are updated in parallel:
https://github.com/google/cloudprober/blob/d4c89cc175bdab71a8ed7d503cab4cfd43262016/probes/external/external.go#L448

This is a concurrency bug. Fortunately using multiple targets is not a very common practice in external probes (that's probably why we haven't encountere

[2019-07-13 01:31] manugarg commented on #258
I'll soon be adding a fix and test for this issue.

[2019-07-13 02:43] manugarg commented on #255
@jbkc85 That's excellent. If you can write a [Github gist](https://gist.github.com/) or share in the form of a Github issue (especially here: #123) how you're using cloudprober that will be great. If it works for you, you can also update the documentation directly at https://github.com/google/cloudprober/tree/master/docs/content.

Also, just a heads up, I'll most likely cut a new release (v0.10.3)

[2019-07-16 15:45] #258 closed

[2019-07-16 17:09] manugarg commented on #258
Fixed by https://github.com/google/cloudprober/commit/a7403c9de521b05ace792c6a49aa6008616f20f3.

[2019-07-17 20:40] manugarg commented on #246
First pass of the service has been added and released as part v0.10.3.

[2019-07-17 20:40] #246 closed

[2019-07-17 20:40] manugarg commented on #195
Released in v0.10.3.

[2019-07-17 20:40] #195 closed

[2019-07-17 20:43] manugarg opened #262 "RDS server config should not have its own gRPC server configuration"
Background:
https://github.com/google/cloudprober/blob/206e5fcb9193bcbfe07950ea49a04ab08f985c51/targets/rds/server/proto/config.proto#L25

[2019-07-17 20:44] manugarg opened #263 "Add validators support to external probe"
There is no reason for external probe to not support validators.

[2019-07-19 23:16] manugarg commented on #255
Just circling back here. v0.10.3 has been released in case you want to use the named version.

[2019-07-22 10:16] VincentS opened #264 "Ping probe crashes if a target doesn't resolve at all"
Configuring multiple Non-Datagram PING probes :

[code]

Causes an segmentation fault when running CloudProber:

[code]

[2019-07-22 16:39] manugarg commented on #264
@VincentS Thanks for the bug report. I was not to able to reproduce it right away, so I had a few questions:

- Does it happen immediately after starting cloudprober, or randomly after some time?
- Which version of cloudprober are you running? (for stack trace and source code matching).

Anything else you can share about your setup.

[2019-07-23 02:37] manugarg commented on #264
Also, was there another line above the segmentation violation code line in the error message?

[2019-07-23 04:08] manugarg commented on #264
Ah, I was able to finally reproduce it. This bug gets triggered only if one of the targets doesn't get resolved. Basically whenever we take the following code path, "result" data  struct doesn't get created for a target:

https://github.com/google/cloudprober/blob/206e5fcb9193bcbfe07950ea49a04ab08f985c51/probes/ping/ping.go#L207

I'll send a fix soon.

Thanks again for reporting this bug.

[2019-07-23 07:52] VincentS commented on #264
Thank you for the quick response / fix.

[2019-07-23 19:27] manugarg commented on #264
Released the fixed binary in v0.10.4.

[2019-07-23 19:27] #264 closed

[2019-07-25 05:32] ionutvilie opened #267 "HTTP validator timeout and follow redirect"
I have set-up the cloud prober for 2 Jira servers in 2 environments.
In front of these servers, there is a load balancer that will probe the 2 VMs. If both VMs fails to respond it redirects the user to a maintenance page (HTTP 200).

The outcome of the cloud prober is as follows:
- for the main URL probe, it follows the redirect and records the maintenance page status 200 giving an ok result when

[2019-07-25 06:09] manugarg commented on #267
@ionutvilie, thanks for filing the bug.

In this case, your second validator ("status_string) is configured incorrectly. You need the regex validator her, not integrity. Integrity validator is a data integrity validator. It checks if a certain string pattern is being repeated in the payload. Currently it must be failing for you all the time. Are you sure you're using this config?

If you use regex

[2019-07-25 10:20] ionutvilie commented on #267
Cloud prober is running from my machine, the metrics are not scraped by any Prometheus app.

The problem is the HTTP response code validation 3xx against 2xx and to not follow the redirect. It follows the redirect and increases the 2xx counter, the pattern string failed as intended on the maintenance page.

[code]

metrics:
[code]

From this perspective, I can see the logic behind now and also the

[2019-07-25 17:58] manugarg commented on #267
I'd like to make a few points here:

1. Returning 200 for the maintenance page is extremely unusual. It's recommended to return 503 for the maintenance page. I found a few references:
https://www.google.com/search?q=http+status+code+for+maintenance+page

2. You don't need integrity_validator for this use case. As I said above, you simply want a regex validation here.

3. I believe the thing that's

[2019-07-26 05:09] #267 closed

[2019-07-31 17:04] manugarg commented on #263
Fixed by #269.

[2019-07-31 17:04] #263 closed

[2019-08-01 20:29] manugarg commented on #262
Fixed by #270.

[2019-08-01 20:30] #262 closed

[2019-08-02 09:02] chinglinwen opened #271 "[feature] to support API call with go client pkg"
This is a feature request.

to support update config by API, rather than change config and do restart.

I expect a service that support API call, which I can use Golang client package to do the call, to update/add/delete ( probe item ), may also update local config file at the same time( so latest config survival process restart ).

[2019-08-02 09:11] chinglinwen commented on #123
Cloudprober works in more powerful way than sourcegraph's checkup, though ( different project objectives, I think ).

Currently I used Cloudprober to support apps monitoring that not provide ( metrics ).

To continue monitor app status, and have the graph on Grafana.

For one case, I generate a list of config with PING and HTTP check for Kubernetes pod, and service connectivity.

We may plan to de

[2019-08-04 09:42] manugarg commented on #123
Thanks @chinglinwen for sharing how you use Cloudprober.

This is interesting. Kubernetes pods and service connectivity monitoring use case keeps coming up. We've been thinking of adding automated targets discovery for Kubernetes resources. I wonder if we should prioritize that. I don't know if you've already seen it but cloudprober has support for automatic discovery of some GCE resources -- GCE

[2019-08-04 17:15] chinglinwen commented on #123
I would like a way to monitor k8s service by Cloudprober. It's a good feature I think.

Also it's good to know that Cloudprober support API now : )

[2019-08-05 06:56] chinglinwen commented on #271
As the new release v0.10.4,  Cloudprobe support Dynamic configuration via gRPC service.

by reading this code https://sourcegraph.com/github.com/google/cloudprober/-/blob/prober/prober.go#L86:19

I think Cloudprobe doesn't support persistent for now?

[2019-08-07 08:15] manugarg opened #273 "Add support for discovering Kubernetes targets."
Based on the interactions with the Cloudprober users so far (over Github issues and in person), it's quite clear that cloudprober is used quite a lot within Kubernetes environment to monitor Kubernetes resources -- pods, services, etc. Adding auto-discovery support for Kubernetes resources will greatly help such setups. For example, we could auto-discover all pods having a particular label.

We sh

[2019-08-22 07:23] QiAnXinCodeSafe opened #275 "time.Tick leaks"
https://github.com/google/cloudprober/blob/6eeacca62dd2bfbd07611b7e5ca31708005039de/probes/dns/dns.go#L248
Leaks when `return`:
https://github.com/google/cloudprober/blob/6eeacca62dd2bfbd07611b7e5ca31708005039de/probes/dns/dns.go#L252

https://golang.org/pkg/time/#Tick

[2019-09-09 19:56] manugarg commented on #275
Thanks @QiAnXinCodeSafe. With gRPC service to add/remove probes, ticker leaks really became important. Fixed in the commit referenced above.

[2019-09-09 19:56] #275 closed

[2019-09-09 19:58] manugarg commented on #273
Added framework support and pods as the first implementation in https://github.com/google/cloudprober/commit/34b261cf124b7818975c602b27fc6395ca62116d.

[2019-10-09 00:09] shanemhansen opened #286 "Support extended content validation in HTTP probes"
This would provide feature parity with other popular prober services such as prometheus: https://github.com/prometheus/blackbox_exporter/blob/master/CONFIGURATION.md#http_probe

In particular: I'd like to add support for regex tests against bodies as well as tls_config.

[2019-10-09 21:38] shanemhansen commented on #286
I see this (regex validation) already exists in the form of regex validators. https://github.com/google/cloudprober/blob/cd815c0020f0d01cb0ed5fb0f44b44f5244ac1e5/validators/regex/regex_test.go

[2019-10-09 21:38] #286 closed

[2019-10-14 23:30] manugarg opened #290 "Make it more explicit that logs go to stackdriver while running on GCE"
Fact that we send logs to stackdriver while running on GCE causes confusion sometimes and it may not be the behavior that everyone wants.

Example: https://groups.google.com/forum/#!msg/cloudprober/ISadFJTiRD8/dXhH7fftDgAJ

We should improve on this situation.

[2019-10-22 14:08] kirk-daries opened #294 "Add support for AWS environment meta data"
Currently, the only cloud platform exposing any metadata is GCE via:
https://github.com/google/cloudprober/blob/master/sysvars/sysvars_gce.go

It would be nice to expose AWS meta data when the probes are run on Amazon EC2's, such as REGION, etc

[2019-10-22 18:34] jbkc85 opened #295 "[question/request] output_metrics_options availability HTTP probe"
To whom it may concern,

I was wanting to use `output_metrics_options` in the HTTP probe but apparently its only available in the external type.  Is there a reason for this?  I would love to be able to add additional tags to whatever probe type i can - specifically `environment` without having to write Prometheus regex labels.

Thanks!

ie:

[code]

[2019-10-22 18:55] manugarg commented on #295
@jbkc85 If you're looking for _output_metrics_options_ only for additional labels, there is another way to do it (though it's not released yet):

https://github.com/google/cloudprober/blob/ee717b051237150cd3a03825f033c789867887e3/probes/proto/config.proto#L100-L112

Though I understand that output_metrics_options can be useful for HTTP probes regardless in case you want to parse metrics from HTTP

[2019-10-23 18:32] manugarg commented on #123
Thanks a lot @jbkc85. This is really helpful.

Regarding service discovery, cloudprober has support for automated targets discovery but it currently supports only GCE targets and Kubernetes pods. Based on your comments, it looks like it will be helpful to add support for consul catalogs as well. It will look something like this in configs:

probe {
 ..
 targets {
   rds_targets {
    resource_path

[2019-10-24 16:32] manugarg opened #297 "[Feature Request] Add support for creating metrics from HTTP probe output"
Cloudprober supports building additional metrics (other than the default ones) from external probe output. We could possible do the same for HTTP probe.

[2019-10-24 16:34] manugarg commented on #295
I just released a new version [v0.10.5](https://github.com/google/cloudprober/releases/tag/v0.10.5) that has support for the _additional_label_ field. Also added an [example](https://github.com/google/cloudprober/tree/master/examples/additional_label). Since this particular issue seems to be just about that, marking it closed. I've file a different feature request to build metrics from the HTTP pr

[2019-10-24 16:34] #295 closed

[2019-10-28 21:53] #290 closed

[2019-10-30 03:41] jbkc85 commented on #123
@manugarg it does - and maybe my use case is a bit more complex...but we do a lot of additional conditional tagging.  For example, if the `environment:prodeu` tag is present, we make a tag for `environment='prodeu'` exposed in Prometheus through additional_labels.

I also like the idea of separating the service discovery from the actual discovery service due to refresh intervals we ran into in the

[2019-10-31 21:45] manugarg commented on #273
Added support for endpoints as well: https://github.com/google/cloudprober/pull/299/commits/808b8f94b6843850a97decbe12d53c3065919a98.

[2019-10-31 22:49] manugarg commented on #271
@chinglinwen That's correct. Cloudprober doesn't persist config changes. It becomes really tricky to do both -- dynamic reconfiguration as well as persistence. We can probably do something along the lines of checkpointing, but maintaining and cleaning up checkpoints is also tricky.

Currently the expectation is that the client software will maintain the config and will recreate (if cloudprober die

[2019-10-31 22:49] #271 closed

[2019-11-01 02:28] manugarg commented on #273
And, https://github.com/google/cloudprober/commit/d832a46becbaa099b00e58583ba77c77a2e5f6e1 adds support for services. I think all we need to do now is to write some documentation on how to use resource discovery in Kubernetes.

[2019-11-01 07:00] manugarg commented on #120
This has been implemented:
https://github.com/google/cloudprober/commit/4ad6ea295d15569793823cdbf5c132611dd13260#diff-6b7ac4ce5bbfd793b96feceecf8e2594

Available in version v0.10.5+.

[2019-11-01 07:02] #120 closed

[2019-11-05 22:05] manugarg opened #307 "Provide a way to add additional labels to the probe results"

[2019-11-05 22:21] manugarg commented on #307
By default cloudprober exports only 3 labels in the probe result - ptype (probe type -- ping, http, etc), probe (probe name), dst (target name). Sometimes it's desirable to add extra labels as well to allow for easy aggregations. For example, src_zone label on the GCE VM instance or service label for a particular target

[2019-11-07 17:36] #252 closed

[2019-11-07 18:47] manugarg commented on #307
All probes should have additional label support now.

Here is an example on how to use it:
https://github.com/google/cloudprober/blob/master/examples/additional_label/cloudprober.cfg

Inline Documentation:
https://github.com/google/cloudprober/blob/51cb9692998d88f8bcab49c73e5e146d56af10bf/probes/proto/config.proto#L100-L111

[2019-11-07 18:47] #307 closed

[2019-11-09 10:32] mfboulos commented on #297
Mind if I take this one? I just learned Go and I'm eager to contribute.

[2019-11-10 03:39] manugarg commented on #297
@mfboulos That's excellent.

Logic for this should look very similar to how we do it for external probes:
https://github.com/google/cloudprober/blob/master/probes/external/payload_metrics.go

In fact, we should try to refactor the config and code in such a way that we can use them for both -- HTTP and external probe. I have a pending change to move parseValue from payload_metrics.go to metrics pac

[2019-11-11 00:01] mfboulos commented on #297
That makes sense, configuration and metrics should be decoupled from the probe types. I'll take the time to familiarize myself with the workflow and such.

[2019-11-13 19:49] manugarg commented on #297
I think external and payload parsing logic are sufficiently decoupled now. External probe initializes a payload parser at the time initialization:
https://github.com/google/cloudprober/blob/eaaf78581bf97c71087e415da6e3a504267fb088/probes/external/external.go#L156

It updates payload metrics per target using this parser:
https://github.com/google/cloudprober/blob/eaaf78581bf97c71087e415da6e3a504267

[2019-11-14 10:35] kohend commented on #294
#315 Made a PR for this

[2019-11-15 06:25] manugarg commented on #123
@jbkc85 Sorry, I forgot to respond earlier. Regarding your second point, targets discovery in cloudprober has static failover. If targets discovery fails for some reason (API failure, targets provider unavailability for some reason, etc), cloudprober continues with the old information -- it doesn't update its in-memory database in case of failures.

Regarding the first point, cloudprober targets d

[2019-11-15 07:44] manugarg opened #316 "Add dynamic discovery support for consul catalog based targets"
Consul seems to be a popular option for service registry and discovery. Adding dynamic discovery support for consul based targets to cloudprober may be useful to users across cloud platforms.

Targets config for consul will probably look something like this:

probe {
 ...
 targets {
   rds_targets {
    resource_path: "consul://service/my-service" (or /nodes)
    filter {
      key: "name"
      v

[2019-11-15 12:23] mweirauch commented on #123
I can't yet contribute to how I use Cloudrpober, but as the discussion is centering around discovery:
How about support for the oldest service discovery solution around: DNS?
Prometheus can e.g. retrieve (among others) `SRV` records for scraping via its [`dns_sd_config`](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#dns_sd_config).

[2019-11-15 17:13] manugarg opened #317 "Provide a way to configure payload size for UDP probes"
Francisco Castello on Slack:
"I am using UDP prober with server and client running on different VMs and I was wondering if there  is a way to make the UDP packets bigger? I did a pcap and the packets are 148 bytes. Is there a way tp add padding to the payload.
We have some cases we want to make the packet bugger than the MTU as we have had fragmentation issues in the past with UDP so I wondered if

[2019-11-15 17:13] manugarg commented on #317
cc: @ls692

[2019-11-20 01:09] manugarg opened #319 "[HTTP probe] Add capability to run multiple parallel probes per cycle"
HTTP probe enhancement:

Add capability to run multiple parallel probes per cycle. This is useful if someone wants to run a lot of HTTP probes against a target without increasing prober footprint.

CC: @ls692

[2019-11-20 17:20] aidarbek commented on #319
Do I understand it correctly that we need to execute this loop concurrently (with goroutines)? https://github.com/google/cloudprober/blob/c153aa4e8ce7e51de653ddfb6888710e126690e6/probes/http/http.go#L311
Also, should it be optional (by specifying command line argument), as DNS probe runs in parallel by default?https://github.com/google/cloudprober/blob/c153aa4e8ce7e51de653ddfb6888710e126690e6/prob

[2019-11-20 18:09] manugarg commented on #319
@aidarbek Yeah, something like that. I hacked up something last night. I'll send you a CL? :)

(Sorry, should have assigned it to myself before working on it.)

[2019-11-21 01:05] manugarg opened #322 "Make cloud logging optional"
Cloudprober logs to stackdriver if running on GCE. There should be an option to disable it.

[2019-11-22 17:37] manugarg commented on #317
Assigning this to myself for now. I'll discuss with Lenin (@ls692) before making any substantial progress.

[2019-11-22 18:16] manugarg opened #326 "Release v0.10.6"
Issue to track the next release (v0.10.6). Current ETA: 2019-12-07.

[2019-11-22 18:18] manugarg commented on #319
Marking closed. To track the release of this feature, please look at https://github.com/google/cloudprober/issues/326.

[2019-11-22 18:18] #319 closed

[2019-11-22 18:20] manugarg commented on #294
Marking closed. To track the release of this feature, please look at https://github.com/google/cloudprober/issues/326.

[2019-11-22 18:20] #294 closed

[2019-11-23 02:09] mfboulos commented on #297
Sorry it took me so long to get around to this, I've been working on a personal project.

Anyways, I'm having a bit of trouble with a couple things. Considering I've never used cloudprober at all, it's a bit difficult for me to grasp what's going on throughout, so bear with me.

It feels like the payload metric parsing is still somewhat tightly coupled with the external probe, since `PayloadMetric

[2019-11-24 08:27] manugarg commented on #297
payloadParser.PayloadMetrics expects payload to just be a text that looks like this:
<var1> <val1>
<var2> <val2>

For external probe it's produced by either running an external command: https://github.com/google/cloudprober/blob/5d8563a26e5c80fd65dd426c9901fb3b99708e76/probes/external/external.go#L522,

or by sending a probe request to probe server:
https://github.com/google/cloudprober/blob/5d856

[2019-11-24 10:31] mfboulos commented on #297
Alright, that makes sense! I've added a couple optional fields to the config proto to mirror the changes on the external probe, which should allow configuration with the same level of freedom.

However, I'm having a bit of trouble with `protoc` that I can't resolve. With the same metrics payload proto import as the external probe config proto, `protoc` doesn't want to resolve the import, regardles

[2019-11-24 22:42] manugarg commented on #297
There is a script in tools directory to generate protobuf code, did you give that a try?

[2019-11-25 11:58] asheikm commented on #322
Hi , do you mind if i take it ? and any estimate on release plan for this issue fixed ?

[2019-11-25 20:28] manugarg commented on #322
Thanks for the offer @asheikm. Someone already sent me a change for this. It's getting delayed by my vacation right now. I am away from work until Nov 29.

[2019-11-26 00:51] asheikm commented on #322
ok , Please let me know any other issue or enhancement i can contribute ?

[2019-11-29 12:11] fcastello commented on #149
If this helps, I would like the reload to be implemented as I want to hot reload without restarting just like many other daemons do it.
If being worried about breaking config-maps, cloudprober could have the approach of keeping the old config if the reloaded config fails. Just like prometheus does, and expose a metric `last_succesful_config_reload` that way the prober will keep running and you hav

[2019-12-02 20:21] manugarg commented on #317
Fixed by https://github.com/google/cloudprober/commit/6bb49181bcf60d5527befa8aa256a90557cb34e1.

[2019-12-02 20:21] #317 closed

[2019-12-07 05:19] manugarg commented on #27
Wrote some ideas here:
https://gist.github.com/manugarg/1726dfbbc312c0a074d592140dae9aee

[2019-12-10 08:15] manugarg commented on #27
Assigning to myself as I have started working on it.

[2019-12-11 20:08] #322 closed

[2019-12-12 13:41] mnagaya opened #331 "Setting custom "Host" request header doesn't have effect"
Hi,

I expected that the server on 127.0.0.1:8000 receives a request with the header "Host: example.com", but the request was made with "Host: 127.0.0.1:8000" instead.

running: cloudprober --config_file cloudprober.cfg
[code]

I think it's better to add an option to http/proto/config.proto that overrides req.Host.

Thanks,

[2019-12-13 06:05] manugarg commented on #220
Added TLS config support to HTTPS probes: https://github.com/google/cloudprober/commit/3bc84cb5c6ec0f0c5b2967fd28ff02b88295ad7b.

[2019-12-13 06:06] manugarg commented on #220
Release getting tacked in: https://github.com/google/cloudprober/issues/326.

[2019-12-13 06:06] #220 closed

[2019-12-13 06:52] manugarg commented on #331
@mnagaya Thanks for reporting this issue. Apparently it's a well known issue in Go: https://github.com/golang/go/issues/7682.

I'll send in a fix for this. We can include it in the next release (ETA: ~7d).

[2019-12-13 07:12] mnagaya commented on #331
Thanks you for your quick reply. I was just testing it.

Below patches looks ok to me:
[code]
Also need to recompile config.pb.go.

Thanks,

[2019-12-13 07:16] manugarg commented on #331
Instead of adding a new config field, I am simply doing this while adding headers to the request:

[code]
I am waiting for the CL to be reviewed internally before submitting this change.

[2019-12-13 16:43] #331 closed

[2019-12-18 16:24] jbkc85 opened #335 "[QUESTION] HTTPS Certificate Expiration Metrics"
Is there a way in the HTTP probe to pull down the delta on how much longer a given SSL certificate is valid for?  Blackbox Exporter in Prometheus provides this, but since we are using CloudProber already for HTTPS domain checks, I would like to keep it simple if possible.

I am searching through the docs - just can't find it yet! :-)

[2019-12-18 20:15] renier opened #337 "Will this support the new k8s Pod ready++ feature?"
It would be great if this could update additional pod readiness states based on thresholds using the new [Pod ready++](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/0007-pod-ready%2B%2B.md) feature.

[2019-12-18 22:15] manugarg commented on #273
Closing this now. This feature is getting released in 0.10.6. We can do enhancements and other improvements through a separate issue.

[2019-12-18 22:16] #273 closed

[2019-12-18 22:36] manugarg commented on #326
Released - https://github.com/google/cloudprober/releases/tag/v0.10.6.

[2019-12-18 22:36] #326 closed

[2019-12-19 09:10] manugarg commented on #335
@jbkc85 No, HTTP probe cannot do that yet. Since it's a very unique requirement, if we want to provide metric in HTTPS probe, we'd want to make it optional (enable through a config field for example).

I think the best option for you will be to create an external probe that will fetch and export this data. For example if you put the following in a script and run it through an external probe, you s

[2019-12-19 09:16] manugarg commented on #337
@renier ah, you mean using cloudprober probe status as a readiness condition? I could not figure that out from ready++ document linked above. For example, the API to update the pod condition is not clear to me.

[2019-12-19 18:52] renier commented on #337
@manugarg Found this https://godoc.org/github.com/ericchiang/k8s/apis/core/v1#PodReadinessGate

[2019-12-23 16:35] jbkc85 commented on #335
seems easy enough.  Thanks for the tip!

[2019-12-23 16:35] #335 closed

[2019-12-31 18:36] manugarg commented on #27
https://github.com/google/cloudprober/commit/2410e7e1d918e2694e660e07d7417460bba0a49b added OAuth support for HTTP probe.

[2020-01-04 04:38] manugarg commented on #27
Support for JWT as web token: https://github.com/google/cloudprober/commit/0ee300c3e03f4df88eb7c98fcb30d3cb4c4cf689

Next up, I'll be adding support for reading JSON key file (and other files) from GCS.

[2020-01-15 23:43] codeblooded opened #349 "Stackdriver surfacer exports metrics as counters"
When using the stackdriver surfacer, cloudprober exports metrics in a time series format that results in a  `CUMULATIVE` [MetricKind](https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.metricDescriptors#MetricKind), instead of, a `GAUGE`.  When displaying on a graph, this causes a latency value that does not match the logs to be shown at a point in time.   Units are also unspecified a

[2020-01-23 15:00] fcastello opened #359 "Feature request: Add cisco ip sla probes support"
cisco ip sla feature allows to probe between devices using icmp, tcp and udp. based on https://tools.ietf.org/html/rfc6812#section-3.1.2
I would be a nice to have that cisco can probe to a cloudprober server using udp or tcp. And also cloudprober to support probes hitting a cisco device consifured with ip sla responder as a udp echo.

[2020-02-12 12:57] ykawamot opened #364 "Prometheus surfacer outputs incorrect TYPE line in histogram"
In prometheus docs,
https://prometheus.io/docs/instrumenting/exposition_formats/#histograms-and-summaries
histogram type has a TYPE line for `x` and three metrics `x_sum`, `x_count` and `x_bucket`.
However, prometheus surfacer outputs a TYPE line for each metrics.

My configuration:
[code]

Expected:
[code]

Actual:
[code]

[2020-02-14 20:20] robertcankney opened #365 "httpRequestForTarget stripping out port when setting Req.Host"
The below probe is trying to connect on port 80 - as evidenced in the below log snippet (internal host names redacted):

[code]

`W0214 20:10:26.962758     216 http.go:212] Target:internal_host3, URL:http://internal_ip3:8080/service-bus, http.doHTTPRequest: Get http://internal_host3/service-bus/: dial tcp internal_ip3:80: connect: connection refused`

This appears to be due to https://github.com/g

[2020-02-14 21:34] manugarg commented on #365
Thanks for reporting the issue and debugging it. It is wrong to skip the custom port in req.Host, but what I find surprising is that this code is not new. We've been using it ourselves for quite some time.

https://golang.org/src/net/http/client.go#L569 seems to suggest that req.Host is used as host, only if there is a redirection. Is there any redirection involved here?

I'll submit a fix for thi

[2020-02-14 22:10] manugarg commented on #365
I verified that at least for normal case (no redirection), it works fine -- i.e. it uses the port provided. We should still fix req.Host though.

W0214 13:31:23.370350   44895 http.go:220] Target:www.google.com, URL:http://172.217.9.164:8080/, http.doHTTPRequest: timeout error: Get http://172.217.9.164:8080/: context deadline exceeded

[2020-02-14 23:28] robertcankney commented on #365
Hi Manu, dug in some more and the Tomcat server is performing a redirection to the same path and just adding headers - hadn't caught that initially. Thanks for taking a look at this!

[2020-02-16 04:18] manugarg commented on #365
@robertcankney Thanks for confirming. I'll send a fix soon.

[2020-02-18 06:50] #365 closed

[2020-02-18 08:41] manugarg commented on #364
@ykawamot Thanks a lot for reporting this. This indeed looks like a bug. I'll try to submit a fix soon.

[2020-02-19 05:16] manugarg commented on #364
https://github.com/google/cloudprober/commit/9a0f182e749b92924570b8f1bd80507d8d290141 fixes it. New release is due next week.

[2020-02-19 05:16] #364 closed

[2020-02-19 05:17] manugarg opened #368 "Release v0.10.7"

[2020-02-19 06:34] ykawamot commented on #364
Thank you, I confirmed that is working correctly.

[2020-02-19 16:57] robertcankney commented on #365
Thanks @manugarg!

[2020-02-25 22:09] cbroglie opened #369 "Add resolve_first functionality to DNS probes"
Hi,

We'd like to use cloudprober to monitor the coredns pods in our k8s cluster. The idea is to have individual probes sent to each pod rather than going through a service to more easily spot isolated problems. This is largely achieved with the following config:

[code]
This almost works, but fails as the probe will try to dial the endpoint name, which is something like `kube-dns_10.x.x.x_dns`. U

[2020-02-25 22:47] cbroglie opened #370 "Add support for filtering k8s endpoints by port"
Hi,

We are utilizing RDS to automatically discover k8s endpoints for probing. One minor issue we are running into when services include multiple ports for different protocols, for example 80/443 for http/https. In this case it would be desirable to have a http probe for port 80, and a https probe for port 443. But since both ports are discovered together, any probe will target both of them, leadi

[2020-02-28 06:36] manugarg commented on #27
This is now available in the v0.10.7 release:
https://github.com/google/cloudprober/releases/tag/v0.10.7

[2020-02-28 06:36] #27 closed

[2020-02-28 06:37] #368 closed

[2020-02-28 06:41] #369 closed

[2020-02-28 07:04] #370 closed

[2020-02-28 08:49] drigz opened #378 ""permission denied" when running cloudprober/cloudprober:v0.10.7"
I get an error when using the new Docker image:

[code]

0.10.6 works fine when started the same way.

[2020-02-28 09:27] manugarg commented on #378
@drigz Thank you so much for the report. I indeed changed the workflow that was being used to create the image. Makefile was the same, but the source of the cloudprober binary got changed -- instead of building a new one right before packaging, I was using Github action to download the binary built in the previous workflow. I'll fix the workflows, but in the meantime I've fixed the docker image. I

[2020-02-28 09:59] manugarg commented on #378
Commit https://github.com/google/cloudprober/commit/b40abd9767401fb2bbec05398c33a4ff32c0592d fixes this issue for the future releases.

Again, many thanks for bringing this to my notice.

[2020-02-28 09:59] #378 closed

[2020-03-03 06:23] manugarg commented on #349
So we want to continue exporting metrics as counters are in general better for graphs and work better with missing data. However, the way cumulative latency metric shows by default in stackdriver graphs is a source of confusion:

- Since by default[1] latency is a cumulative metric, stackdriver graphs show it as `/s`. Making people think that they are seeing very high latency (in seconds, instead

[2020-03-12 17:52] DenisBiondic opened #380 "[Feature Request][Documentation] Example on how to use the HTTP probe with TLS"
I've searched quite a while on how to use HTTP probe when you want to probe 443 instead of 80. I managed to do so by specifying the 443 port, but then I get issues from the backend servers such as HTTP 400: the plain http request was sent to https port

If there is such documentation, can you point me to the right place? Even if it exists, is should be perhaps more prominent somewhere in the examp

[2020-03-13 07:29] manugarg commented on #380
Sorry for the insufficient (not so user-friendly) documentation.

Probe config options can be derived from the protobuf fields. For example here is the config protobuf for the HTTP probe type:
https://github.com/google/cloudprober/blob/master/probes/http/proto/config.proto

There are also some examples in the [examples](https://github.com/google/cloudprober/tree/master/examples) directory, though

[2020-03-16 07:55] DenisBiondic commented on #380
thx! that was exactly what we were looking for :)

[2020-03-23 10:20] nvidyala opened #381 "[Documentation] Adding multipart form data to a request body"
Hi,

I wasn't able to find any examples within the repo for making a POST request with a multipart/form-data body. Is it possible to do this through the configuration file itself or would I have to create an external probe?

Thanks in advance

[2020-04-04 23:56] symourjr opened #384 "[Feature Request] Ability to explicitly set a proxy to use for a probe"
Would like to be able to have a probe that can use a different proxy depending on the probe. I believe right now it relies on environmentally set variable http_proxy or https_proxy?

Thanks

[2020-04-05 08:44] #384 closed

[2020-04-17 02:12] manugarg opened #394 "Add support for file based targets discovery"
It will be similar to prometheus's file based service discovery:
https://prometheus.io/docs/guides/file-sd/

[2020-04-24 19:16] manugarg opened #398 "gRPC probe test failing on MacOS"
[TestConnectFailures](https://github.com/google/cloudprober/blob/e54d4add572ae5820608fecf948186a27193553e/probes/grpc/grpc_test.go#L175), from recently added gRPC probe tests, is failing on MacOS:

=== RUN   TestConnectFailures
E0424 18:57:22.841647    2387 sysvars.go:53] Sysvars map is un-initialized. sysvars.Vars() was called before sysvars.Init().
2020/04/24 18:57:22 failure to read manufacture

[2020-04-24 19:17] manugarg commented on #398
+@ls692 as original author of the test.

[2020-04-24 21:22] #398 closed

[2020-05-20 07:13] MohamedMSaeed commented on #255
Hi @manugarg,

I'm trying to use more that one label but it gives me an error. Can you tell me if this is possible?

If I printed this:

```fmt.Printf("service_resource_health map:service,database:1\n")```

it will work fine. And label service=database will be added. But what if I want to add another label called env=prod?

I was trying something like

```fmt.Printf("service_resource_health map:se

[2020-05-20 07:35] manugarg commented on #255
@MohamedMSaeed No, I'm afraid, that won't work. Our map type supports only 1 key.

As a workaround, you can consider splitting your probe into two:

probe {
  name: "probe_that_in_prod"
  additional_label {
    key: "env"
    value: "prod"
  }
  external_probe {
   ..
  }
}

probe {
  name: "probe_that_in_staging"
  additional_label {
    key: "env"
    value: "staging"
  }
  external_probe {
   .

[2020-05-20 08:03] MohamedMSaeed commented on #255
@manugarg

Thank you for your fast reply.

Can't use dynamic labels in config file and values comes from the go code that I run? If so it will solve my issue.

[2020-06-14 02:30] manugarg commented on #394
Started working on this.

[2020-06-15 17:00] ltagliamonte-dd opened #413 "Graceful termination"
Is there a way to gracefully shutdown cloudprober and propagate the signal to all external probes as well?
Briefly looking at the code i can see only enable/disable cpu and mem profiling.

[2020-06-21 07:42] manugarg commented on #413
@ltagliamonte-dd No, currently we don't have a way to do graceful termination. We currently rely on the fact that cloudprober and child external probe processes will get killed together if cloudprober's process group is killed. Here is the trick in cloudprober_startup.sh to achieve that:

https://github.com/google/cloudprober/blob/f668a7f5530241c1b3186905a151908157f75059/tools/cloudprober_startup.

[2020-06-21 16:05] ltagliamonte-dd commented on #413
I would love you pass along the signal to all running probes.
I wrote a kubernetes probe that creates and deleted k8s resources and when I deploy a new version I need to make sure that I cleanup before I exit.
Currently I made sure of that at container bootstrap but isn't the most elegant solution XD

[2020-06-23 13:10] networkop opened #417 "[Bug] Slow startup outside of public clouds"
**What happened**: Whenever running cloudprober outside of GCP or AWS, it will exhibit a slot startup time of at least 20 seconds.

**What you expected to happen:** cloudprober should be able to start in under a second.

**How to reproduce it (as minimally and precisely as possible):** build the cloudprober binary and run it on a laptop

**Anything else we need to know?:** this is caused by the `m

[2020-06-23 13:23] networkop opened #418 "[Bug] Discovery of k8s service when using AWS ELB"
**What happened:** When using k8s service discovery in clusters running on AWS, discovery of public IP of LoadBalancer services fails

**What you expected to happen:** I am able to use AWS load-balancers as targets by all standard probes

**How to reproduce it (as minimally and precisely as possible):** create a k8s cluster with AWS as a cloud-provider. Create a LoadBalancer service and an RDS dep

[2020-06-23 13:28] networkop commented on #418
I've implemented a naive fix like this:
[code]

However this feels like the wrong approach as I'm overwriting/hiding the real name of the resource. We also can't use hostname since RDS targets do not have an option to use local/client resolver and will try to resolve hostnames in local cache (if I understood your code correctly).

So it seems like the way forward is to do a resolution on the RDS s

[2020-06-23 13:31] networkop opened #419 "[Feature Request] Allow k8s to discover ingress resources"
Similar to how dynamic targets can be discovered from pods, endpoints and services, it'd be nice to have RDS discover ingress resources as well. The result would be an FQDN with optional set of IP (if resolved by the RDS server).

[2020-06-23 20:29] networkop opened #420 "[Bug] Kubernetes service discovery does not discover ports"
**What happened:** When using k8s service discovery to discover services, ports do not get discovered.

**What you expected to happen:** pb.Resource for the discovered k8s service to contain `svc.Spec.Ports[0].Port`

**How to reproduce it (as minimally and precisely as possible):** create a k8s cluster and use k8s discovery to discover a service. the returned *pb.Resource has an empty `Port`

**An

[2020-06-25 22:01] manugarg commented on #418
@networkop Thanks a lot for reporting this bug.

You're right about this not being straightforward. There are a few possible approaches:

1. Handle this as a special case and return hostname as resource name.
2. Add another field "hostname" to RDS resource, and on the client use local resolver if there is a hostname in the resource but no IP.
3. Since RDS resource's IP field is a string, return ho

[2020-06-25 23:26] manugarg commented on #420
@networkop Thanks for reporting this.

Your assessment is right about services discovery not populating the port. This seems like an oversight. For multiple ports case, I think we need to handle multiple ports the same way as endpoints:
https://github.com/google/cloudprober/blob/f668a7f5530241c1b3186905a151908157f75059/rds/kubernetes/endpoints.go#L87

[2020-06-26 08:39] manugarg commented on #417
@networkop Thanks for noticing and debugging this.

Yeah, I've seen this before; this option looks good to me.

This doesn't seem to require root privileges though. I gave it a try:
[ec2-user@ip-172-31-34-75 ~]$ id
uid=1000(ec2-user) gid=1000(ec2-user) groups=1000(ec2-user),4(adm),190(systemd-journal) context=unconfined_u:unconfined_r:unconfined_t:s0-s0:c0.c1023

[ec2-user@ip-172-31-34-75 ~]$ cat

[2020-06-26 08:51] networkop commented on #417
Interesting, maybe it's OS-specific. I've got Debian10 and I don't have `/sys/hypervisor/uuid` but I do have `/sys/devices/virtual/dmi/id/product_uuid` which can only be read by root:
[code]

[2020-06-26 09:45] manugarg commented on #417
Ah, that complicates the things.

Apparently we can disable retries in the Available method:
https://github.com/aws/aws-sdk-go/issues/582

We can use 0 or some other small number of retries.

[2020-06-26 10:09] networkop commented on #417
yeah, setting it to a 0 is an easy win. I'll be much happier with 5 seconds instead of 20.
What do you think about a flag that disables all these cloud checks completely? This would really help with local development if your build toolchain watches your source files and rebuilds them on the fly (e.g. I'm using tilt) - the feedback loop will be near-instant.

[2020-06-28 07:48] manugarg commented on #420
I'm working on a change for this.

[2020-06-29 04:03] manugarg commented on #418
FYI, I am working on the client side changes to make this option work. So far this seems like a reasonable thing to do.

[2020-06-29 09:06] networkop commented on #418
great, thanks. there's just one concern I've got with this approach. Every load-balancer service will also have a unique `spec.clusterIP` in addition to what's reported in the `status` field. If I understand it correctly, this IP will always be hidden by the `status.loadbalancer.ingress`, even now (before this issue gets fixed).
However, if we consider option #2 and extend the RDS resource, this w

[2020-06-29 15:48] networkop commented on #417
so are you ok for me to submit a PR for this?
should I do both things?
a) decrese AWS retries and
b) add a new flag
TBH, if the option with the flag is ok with you, then decreasing AWS retries may not be needed at all.

[2020-06-29 16:10] manugarg commented on #417
Sure. Sounds good to me.

Let's reduce retries for AWS regardless, or we can do that separately. I think it makes sense to optimize the default behavior as well.

[2020-06-30 01:55] manugarg commented on #413
I have a change under review for this.

[2020-06-30 02:38] manugarg commented on #418
spec.ClusterIP is in fact the default IP you'll get. To get the ingress IP, you've to specify the ip_type as PUBLIC:
https://github.com/google/cloudprober/blob/c003b5cbd7db790dfd346bfaf33643234ce0d027/rds/kubernetes/services.go#L152

[code]

Did I get your question correctly.

[2020-06-30 08:34] networkop commented on #418
ah yes, you're right, my apologies.

[2020-06-30 18:44] manugarg opened #425 "Release v0.10.8."

[2020-06-30 18:47] manugarg commented on #420
Closing this now. Filed a separate bug for the next release: v0.10.8.

[2020-06-30 18:47] #420 closed

[2020-06-30 18:56] manugarg commented on #413
@ltagliamonte-dd Code has been changed. I verified that killing cloudprober kills the external probe processes started by cloudprober. One thing to note though, only processes directly started by cloudprober get killed. It doesn't kill processes started by the external probe processes themselves (for example, shell script forking off other processes). There is really no good way to do that[1].

I

[2020-06-30 18:56] #413 closed

[2020-06-30 19:05] ltagliamonte-dd commented on #413
This is wonderful @manugarg will try the next stable release!
Thanks for tackling this in such short period

[2020-07-02 08:20] networkop commented on #417
closed in #427

[2020-07-02 08:20] #417 closed

[2020-07-02 08:49] manugarg commented on #394
I should probably document this. For now, there are some examples here: https://github.com/google/cloudprober/blob/master/targets/file/file_test.go

I'll close this issue now. I've filed a separate bug to track the release: #425.

[2020-07-02 08:49] #394 closed

[2020-07-04 07:54] manugarg commented on #419
Just for the record, ingress's status object is same as service's status object. We can probably just reuse most of the code after some refactoring.

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#ingress-v1beta1-networking-k8s-io

[2020-07-04 09:00] networkop commented on #419
Yes, in fact, this status is copied from an underlying LB service by the ingress controller (e.g. [1]).
However, I think we still need to know (and pass to the client) the `spec.rules[*].host` to build the correct HTTP host header.

[1] https://github.com/kubernetes/ingress-nginx/blob/3eafaa35a171e2d91d75690461ef45e721411aec/internal/ingress/status/status.go#L237

[2020-07-05 01:16] manugarg commented on #419
That's an interesting detail. Thanks @networkop.

There are two interesting problems:

1. We need to have a way to transfer the host information from ingress definition to the HTTP probe. We can probably use an internal/private label to achieve that, say something like _cloudprober_http_host.

2. How to handle multiple hosts in ingress definition. Is it common to have multiple hosts in an ingress

[2020-07-05 15:31] networkop commented on #419
Yeah, I think something like that should work and it's fairly easy to add.

This may not be common but it's definitely possible and even mentioned in the offical k8s [ingress docs](https://kubernetes.io/docs/concepts/services-networking/ingress/#name-based-virtual-hosting).

Another questions is how to do DNS resolution for these hosts. The most straigh-forward way is to do it locally on the clien

[2020-07-08 08:56] manugarg commented on #418
Closing this. It will get released with v0.10.8:
https://github.com/google/cloudprober/milestone/6

[2020-07-08 08:56] #418 closed

[2020-07-08 20:43] JohnWillker opened #432 "Error initializing cloudprober"
I followed exactly as it is in [this tutorial](https://cloudprober.org/how-to/run-on-kubernetes/) and had this problem to initialize the pod:

[code]

In a locally Kubernetes cluster all the things work perfectly but in the GKE clusters not.

I'm using the last version of Cloudprober and Kubernetes(GKE) in `v1.14.10-gke.36` version

What I'm doing wrong?

Maybe something related to this: https://g

[2020-07-08 22:37] JohnWillker commented on #432
As I'm using Istio there are these issues:
- https://github.com/istio/istio/issues/13009
- https://github.com/GoogleCloudPlatform/microservices-demo/issues/199
- https://github.com/istio/istio/issues/6593

The solution for while is:

[code]

But this solution for some reason add a delay of 20s in the pod startup.

[2020-07-08 23:14] manugarg commented on #432
Thanks a lot @JohnWillker for reporting this bug. I haven't seen the istio issues in details yet, but it seems that metadata server is not visible (at least using the IPs which is what Golang libraries use) without adding a virtual service. I'll look into it more to see if we can do something about it.

If you're using the latest cloudprober image, you can try using --cloud_metadata=none flag to d

[2020-07-08 23:49] JohnWillker commented on #432
The `--cloud_metadata=none` flag work for me. Thanks 👍

[2020-07-09 07:55] manugarg commented on #432
I looked around a little bit. Problem is metadata's OnGCE method uses both IP and the metadata hostname both to decide whether it's running on GCE or not:
https://github.com/googleapis/google-cloud-go/blob/59d32d7449b1d48eada528345114be6109965503/compute/metadata/metadata.go#L117

But, while doing the rest of the queries, it uses only IP address:
https://github.com/googleapis/google-cloud-go/blob/

[2020-07-09 07:57] manugarg commented on #432
I'll close this. Please let us know if you have any suggestions.

[2020-07-09 07:57] #432 closed

[2020-08-04 22:11] manugarg commented on #425
Done:
https://github.com/google/cloudprober/releases/tag/v0.10.8

[2020-08-04 22:11] #425 closed

[2020-08-04 23:56] JohnWillker opened #436 "Duplicate targets can mangle HTTP probe results."
There are some metrics that doest make sense, how is possible `success` be bigger than `total`?

Environment:
- GKE: 1.14
- Istio: 1.5.6

My deploy:
[code]

My configmap:
[code]

Until here ok 178/178:
[code]

But here the problem begins 179/180:
[code]

[2020-08-05 00:21] manugarg commented on #436
Thanks for reporting this bug @JohnWillker. It is indeed a very strange bug. seems like a case of "success" and "resp-code" being over-counted, or total being under-counted. Given that interval is 10s, there should have been just one probe in that interval.

Also, I am curious why there are two data lines. Do you have only one kubernetes service and it is named payout-http?

I'll continue looking

[2020-08-05 00:35] manugarg commented on #436
It does look like something fishy is going on with targets here. There should not be two exactly same data lines coming from a probe.

Since kubernetes services discovery code is newer (added between v0.10.7 and v0.10.8), it's most likely the culprit here. Nevertheless, HTTP probes keep results by target names, which are same here. I'll continue looking, but it will be great if you could share the

[2020-08-05 01:36] manugarg commented on #436
@JohnWillker do you have the same service (payout-http) in two namespace by any chance?

I think it's possible to trigger a bug in HTTP results accounting if we somehow have two or more targets with the same name. In kubernetes we can get two targets of the same name if they are in different namespaces.

Relevant code:
https://github.com/google/cloudprober/blob/dd0bb3e2e8a54038da64c9b092db2f8941ec

[2020-08-05 02:15] JohnWillker commented on #436
Hi, @manugarg

I have 2 services with the same name in 2 different namespaces, something like `example-prod` and `example-develop`.

This is one of the service:

[code]

This is one example, but we have a bunch of services in this model, using two namespaces, but the filter only matches in prod namespace(dev namespace don't have `probetype: http`).

There's some way to separate this in metrics ret

[2020-08-05 06:31] manugarg commented on #436
Thanks once again. So, I've found that there is a problem in how we cache kubernetes resources. We were using only names as keys, while names can be same across namespaces. I'll soon (within a day) send a fix for this problem. After that fix filtering by label will work for you.

 For now, if you want you can workaround this by filtering the rds_server stanza. You can say:

[code]

You can use tar

[2020-08-05 06:41] manugarg opened #437 "Track kubernetes resources by namespace and name"
While investigating #436, I found that we cache kubernetes resources by name, while they can have the same name across namespaces. We should use both -- namespace and name -- for caching kubernetes resources.

[2020-08-05 14:00] JohnWillker commented on #436
@manugarg
Thank you for a fast response. I will wait for the fix and will use the labels as you said to separate environments.

[2020-08-05 16:10] JohnWillker commented on #437
There's another problem here. If the service is in a different namespace from the `default`, the Host header is sent incomplete.
https://github.com/google/cloudprober/blob/dd0bb3e2e8a54038da64c9b092db2f8941ecb69c/probes/http/request.go#L54

Is sent only the `service` name.

If you are using Istio this not work, you need to pass the entire FQDN like: `service.namespace.svc.cluster.local`

Because t

[2020-08-05 17:45] manugarg opened #438 "Add a way to specify HTTP "Host" header based on targets"
@JohnWillker wrote in #437.

There's another problem here. If the service is in a different namespace from the `default`, the Host header is sent incomplete.

I don't know, maybe something here?
https://github.com/google/cloudprober/blob/dd0bb3e2e8a54038da64c9b092db2f8941ecb69c/probes/http/request.go#L54

Is sent only the `service` name(i think).

If you are using Istio this not work, you need to

[2020-08-05 17:50] manugarg commented on #437
I think that's an independent issue, but one that needs to be resolved. I've filed #438. To summarize briefly, it seems like need a way to specify host headers based on targets, for example, we should be able to do something like the following in probe config:

[code]

[2020-08-05 17:51] manugarg commented on #438
It seems we need a way to specify host headers based on targets, for example, we should be able to add something like the following in probe config:

[code]

[2020-08-06 03:56] manugarg commented on #437
@JohnWillker Duplicate resources causing HTTP probe issue should be resolved for you now. I am closing this. Feel free to re-open if the issue is still not fixed for you.

I'll follow up on #438 independently.

[2020-08-06 03:56] #437 closed

[2020-08-06 14:27] dcloud9 opened #441 "Panic - configtest v0.10.8"
We've upgraded from `v0.10.4` to `v0.10.8` and no breaking change apart from the `-configtest`. Panic output below
[code]

[2020-08-06 17:07] manugarg commented on #441
Much thanks for this bug report.

The problem seems to be here:
https://github.com/google/cloudprober/blob/2a846bd77287c913f68a6a67a8c828e03d2842c7/logger/logger.go#L298

Logger is always supposed to work even when uninitialized, but here we're checking for the debugLog property being set. This can be easily fixed.

(As an aside, I am kind of surprised why we haven't run into this issue yet intern

[2020-08-06 17:42] manugarg commented on #441
I guess you're running this configtest on GCE, while we've never do that. Regardless, I'll get it fixed soon. We'll also release v0.10.9 in a couple of days.

[2020-08-06 18:45] JohnWillker commented on #437
@manugarg I have tested, and the metrics are working perfectly now. Thanks again for the fast resolution.

[2020-08-06 19:49] manugarg opened #442 "Release v0.10.9"
To track the release of v0.10.9.

[2020-08-06 19:55] #441 closed

[2020-08-06 20:01] manugarg commented on #438
@JohnWillker,

https://github.com/google/cloudprober/pull/444 implements a change that will allow you to specify target based host headers using a target label - "fqdn".

Can you add "fqdn" label to the service that you're creating in Kubernetes?

[2020-08-06 20:06] #438 closed

[2020-08-06 21:50] JohnWillker commented on #438
@manugarg Perfectly, now everything is working as expected. I'm using the "fqdn" label and solve the connections problems.
Thank you again.

[2020-08-06 22:12] manugarg commented on #438
Excellent. Thanks again for reporting this and the other issue.

[2020-08-07 03:34] manugarg opened #445 "Consider always returning unique targets through targets.ListEndpoints()"
Duplicate targets can cause spurious behavior in probes. See #436 for example.

We have changed RDS client to never return duplicate targets, however it may make sense to implement this logic in targets.ListEndpoints():

https://github.com/google/cloudprober/blob/117d1e1252ec5e7ef9232511fe28079f0baf0acd/targets/targets.go#L178

[2020-08-07 03:34] manugarg commented on #436
I am closing this now as it should not be possible to generate duplicate targets now (after the last couple of changes to the RDS module), except for deliberately specifying duplicate targets statically.  Also, this problem is not specific to HTTP probes. Duplicate targets are going to cause a problem for all kinds of probe. I've filed a separate bug to consider changing targets module's API to al

[2020-08-07 03:34] #436 closed

[2020-08-11 01:01] manugarg commented on #442
Released v0.10.9 on Aug 07:
https://github.com/google/cloudprober/releases/tag/v0.10.9

[2020-08-11 01:01] #442 closed

[2020-08-30 15:24] evanSpendlove opened #450 "Cannot add multiple probe extensions dynamically via gRPC service."
# TL;DR
Due to proto extensions being registered per message, multiple probe extensions cannot be added to Cloudprober using the gRPC service.

# Issue Description
Currently, I cannot add more than one probe extension to Cloudprober using the gRPC service.  I have a gRPC client that allows me to successfully send the AddProbe(), RemoveProbe() and ListProbe() requests to Cloudprober. However, when

[2020-08-30 20:18] infa-kparida commented on #419
This will be really good if cloudprober can discover ingress and then provide the golden signals from those ingress.This will be one of the killer feature of cloudprober if can be implemented

[2020-08-31 05:56] manugarg commented on #450
Thanks a lot for the extremely detailed bug report, @evanSpendlove.

I think there is a problem here:
https://github.com/google/cloudprober/blob/4bdceab3d43a5e22d1dc19649700f12d65cc5652/probes/probes.go#L90

proto.RegisteredExtensions(p) gets extensions from the type of the proto message, instead of the actual proto message. We should do something else here, for example:

proto.ExtensionDescs(p)

[2020-08-31 06:43] manugarg commented on #450
proto.ExtensionDescs(pb) works. I'll submit a fix soon.

[2020-08-31 09:30] manugarg commented on #419
@infa-kparida thanks for the input. Yes, we are planning to add support for the "ingress" resource type.

I've not yet figured out how to name targets for multiple host rules within an ingress, for example, we can do:
<ingress_name>_<host_fqdn> or just <host_fqdn>

I guess second option is cleaner, though I think we should provide a way to identify which ingress that particular `host` belongs to.

[2020-08-31 20:15] evanSpendlove commented on #450
No problem! Thank you for responding so promptly!

I'm glad to see that you found a fix so quickly!

[2020-08-31 21:57] JohnWillker opened #451 "Cloudprober returning target without correct host for external probe"
I have config an external probe to can perform probes in gRPC service.

[code]

I have a Cloudprober custom docker image with the this [tool](https://github.com/grpc-ecosystem/grpc-health-probe)
So i can perform this: `command: "/bin/grpc_health_probe -addr=@target@:50051"`

But in my clusters, all services serve behind the istio-proxy.
So we have the same problem related here: https://github.com/

[2020-09-01 00:26] manugarg commented on #451
I guess we can provide a way to access target labels on the command line the same way as @target@, for example @target.label.fqdn@. I'll take a stab at it

[2020-09-01 01:59] manugarg commented on #450
#452 should fix this bug.

@evanSpendlove can you give it a try, or you'd like to wait for the next release (v0.10.10).

[2020-09-01 20:03] manugarg opened #453 "Release v0.11.0"
Issue to track the next release.

[2020-09-01 20:05] manugarg commented on #450
@evanSpendlove Sure. Good to know that it's working for you know. I'll close this issue now. I've opened another issue to track the next release: https://github.com/google/cloudprober/issues/453. Targeting Sep 15 for that.

[2020-09-01 20:05] #450 closed

[2020-09-02 20:04] #451 closed

[2020-09-02 20:06] manugarg commented on #451
#454 adds the way to access target's fqdn using "@target.label.fqdn@" in command arguments. Can you please give that a try and let me know if it's not working.

[2020-09-03 10:42] networkop commented on #419
I think `<ingress_name>_<host_fqdn>` or `<ingress_name>_<index>` would do, as you can have multiple unique targets defined in a single ingress resource.

Also @manugarg , I was thinking about implementing this locally but then I noticed you've added it to the next milestone. I'm happy to help with the implementation or testing to help speed things up, so please let me know if you need any help.

[2020-09-03 22:45] manugarg commented on #419
Thanks @networkop. I had started a change some time back. I'll try to finish it in a couple of days (it will mostly get submitted around Sep 08 though). I'll let you know how it goes.

[2020-09-06 22:45] evanSpendlove opened #460 "Pointer issue in ListProbesResponse() causes incorrect values in ListProbesResponse."
# Issue Summary
There is a pointer issue in the `ListProbes()` RPC. The `ListProbesResponse` object contains a list of structs, each containing a string and ProbeInfo object. If there are multiple probes added, the strings will all be the same as the last item added to this list.

Example:
3 probes (probe0, probe1, probe2) are added.
`ListProbes()` is called.

Desired Response: ["probe0" <config>,

[2020-09-08 18:23] manugarg commented on #460
Fixed by #461. Thanks again for the bug report and the fix @evanSpendlove.

[2020-09-08 18:23] #460 closed

[2020-09-08 23:31] JohnWillker commented on #451
This work perfectly, thank you again for the fast resolution 👍

[2020-09-10 23:00] manugarg opened #462 "In "http" probe use fqdn label for URL host as well"
For kubernetes ingress and services resources, target names won't make much sense (e.g. service1_3141 or ingress1_host1), and if not using resolve_first, resolving them will fail. For these resources, we use "fqdn" target label to specify host-header -- we should use the same label for URL host as well if not resolving first.

[2020-09-11 17:07] manugarg commented on #419
I was over-optimistic to think that I'll get it done over the long weekend :) I've the change out for review (internally) now. It will take a few more days I think.

[2020-09-11 22:08] manugarg commented on #462
Fixed by #464.

[2020-09-11 22:08] #462 closed

[2020-09-15 07:08] infa-kparida opened #466 "Multiple Dynamic Label mapping in external probe"
**Describe the feature you'd like and the problem it will solve**
Right now With external probe we can map only single dynamic labels and later we can add multiple static labels using prober config.So this allows only to define metrics like
`db_stats{name=db01,ptype="external",probe="external_test"} 1.0`

However we would like to have  multiple dynamic label mapping like below
[code]

This feature

[2020-09-15 22:47] BradErz opened #468 "Support DNS SRV discovery"
**Describe the feature you'd like and the problem it will solve**
Add support for dns srv records.

In our specific use case we are using mongodb atlas and they support SRV records so we don't have to specify each node in the replicaset.

[2020-09-15 23:04] manugarg commented on #466
Just to make sure I am understanding it correctly, the ask here is to allow external program to specify labels in the payload itself. Is that correct?

So, the external program will create a payload like this:
`db_stats{name="db01",region="us-west-2",status="running"} 1.0`

And, cloudprober will then collate these labels with the internal labels and final metric will look like this:
`db_stats{name

[2020-09-16 05:30] manugarg commented on #419
Alright, #469 adds support for ingress resources.

Following example in the test shows how resources end up getting named and can be filtered using labels:
https://github.com/google/cloudprober/blob/928d3def650642b3fcf1ef845ffd19316a241d7d/rds/kubernetes/ingresses_test.go#L88

Ingress resources get the following two labels:
[code]

@networkop and @infa-kparida, please let me know if you have any t

[2020-09-16 05:48] infa-kparida commented on #466
@manugarg : Additional label is kind of static label that gets attached to all the metrics generated from that probe.This is useful when we need to segregate metrics based on common labels like environment  or region etc.

What we are looking here is on the dynamic label.You understood it correctly as mentioned above.The external program creates the payload
`db_stats{name="db01",region="us-west-2"

[2020-09-16 07:20] networkop commented on #419
Great, thanks @manugarg , I'll give it a spin in the next few days and let you know.

[2020-09-16 16:36] networkop commented on #419
Hi @manugarg , here are a few issues I've picked up so far:

1. RDS now needs and updated set of RBAC rules:

[code]

2. URL is malformed when the client uses custom `surfacer.prometheus_surfacer.metrics_prefix`. For example if the prefix is set to `cloudprober_`, the URL becomes: `http://cloudprober_google.com`

3. HTTP path gets appended to the URL incorrectly. E.g. if I have an ingress with pat

[2020-09-16 16:47] networkop commented on #419
another issue is that the URL that gets built and the client tries to resolve is in the format `ingressName_ingressHostname`, e.g. `my-ingress_google.com`

[2020-09-16 16:51] networkop commented on #419
seems like the above DNS resolution issues are fixed with `http_proxy.resolve_first: true`

[2020-09-16 17:12] manugarg commented on #419
Thanks a lot for checking @networkop.

Yeah, this is expected. I'll update the document.

I didn't get this one. This prefix is added to the metric names. Which URL is this?

So both of these issues were supposed to be resolved by target labels. HTTP probe should use "fqdn" and "relative_url" labels, which are added by RDS automatically ("fqdn" label is used for URL host as well as host header).

[2020-09-16 19:27] manugarg commented on #419
@networkop I tried running an HTTP probe like this:

[code]

Where ingress is:
[code]

With this I get  logs like this:
[code]

Notice that the URL is correct here.

And metrics look like this (notice additional labels here):

[code]

[2020-09-16 20:09] networkop commented on #419
hm.. maybe they were false positives. Let me retest tomorrow and report back.

[2020-09-16 20:18] networkop commented on #419
it looks like it was false positives. I may have had DNS not fully functioning at one point and I looked at `dst` and assumed that's what was getting resolved. So far I've reverted back all of the workarounds I put in place, including the metrics_prefix and everything seems to be working fine.

[2020-09-16 21:16] manugarg commented on #419
Thanks so much for confirming @networkop.

I'll go ahead mark this issue closed. We can re-open this or file another one if we find a problem with the ingress resources discovery.

[2020-09-16 21:16] #419 closed

[2020-09-17 04:51] sunshinekitty opened #473 "External probe command arguments not always parsed properly"
https://github.com/google/cloudprober/blob/03e73285d2919eaf102c8ff310c9978db96c5e01/probes/external/external.go#L141

With commands that contain quoted strings with spaces this logic fails.

Eg `./command --flag one --otherflag "two three"` becomes `['--flag', 'one', '--otherflag' '"two' 'three"']` instead of `['--flag', 'one', '--otherflag', '"two three"']`

Using a lexer like https://github.com/

[2020-09-17 05:31] manugarg commented on #473
@sunshinekitty Thanks for the filing the bug and the suggestion to use shlex.

Yes, we use very basic command parsing today. I'll look at improving it.

[2020-09-17 06:07] manugarg commented on #473
I verified that shlex will work fine for our use case. I'll submit a fix soon.

[2020-09-17 06:15] manugarg commented on #466
@infa-kparida Thanks for confirming. Just wanted to let you know that it will take a bit longer to fix, because of how payload metrics are handled: we keep one set of metrics (called EventMetrics internally) where they all have the same labels. We can solve this by handling each metric individually, but that will be incompatible (or hard to implement) with the "aggregate_in_cloudprober" option. I

[2020-09-17 06:59] infa-kparida commented on #466
Thanks @manugarg  for taking this up.Its not a blocker for us but just a good feature to have.So we are  fine if it takes longer time :)

[2020-09-17 22:47] #473 closed

[2020-09-22 23:48] sunshinekitty commented on #473
Thanks! Just wanted to report back I've pushed out a build with this change and parsing works as I'd expect.

[2020-09-23 16:27] networkop opened #476 "RDS server running in Kubernetes fails to start"
**Describe the bug**
When running cloudprober RDS inside Kubernetes, it may fail to start due with the following error:
[code]

**Cloudprober Version**
v0.10.7

**To Reproduce**

Install Cloudprober with the following manifest

[code]

**Additional context**
The problem seems to be cause by the name of the service. It seems like cloudprober will try to automatically bind the HTTP server to the add

[2020-09-23 20:08] manugarg commented on #476
Ah, of course. I think we should have just not used CLOUDPROBER_PORT environment variable if it was in the Kubernetes `<SERVICE>_PORT` format: `tcp://..:<port>`:
https://github.com/google/cloudprober/blob/f5fe722dc95ad283e41291949c0958b22f8bc9a4/cloudprober.go#L87

This was done to fix the issue https://github.com/google/cloudprober/issues/252, but just ignoring CLOUDPROBER_PORT if not an integer

[2020-09-24 18:21] manugarg commented on #476
This should now be fixed in HEAD (after #477).

I am going to include it in v0.11.0 (due tomorrow).

Thank you once again @networkop for reporting this, and with excellent details.

[2020-09-24 18:21] #476 closed

[2020-09-29 19:20] manugarg commented on #453
Released on Sep 28, 2020.

[2020-09-29 19:20] #453 closed

[2020-10-02 12:33] ali-sattari opened #480 "OAuth2 with Google Credentials and ServiceAccount key doesn't support id_token"
**Describe the bug**
When trying to use oAuth in an HTTP probe with a ServiceAccount JSON key file against a [GCP IAP](https://cloud.google.com/iap) protected service, auth fails with the content of Google login page in the response body (logged by setting `-debug_log` flag).

This is the config:
[code]

**Cloudprober Version**
`v.0.11.0`

**To Reproduce**
Steps to reproduce the behavior:
1. Confi

[2020-10-02 22:22] manugarg commented on #480
Thanks for reporting this (and the fix PR), @ali-sattari. I added a comment to your PR.

[2020-10-05 21:00] manugarg commented on #480
Fixed through: https://github.com/google/cloudprober/commit/f40ed7edb0fe88142a55b0e968b623bb9a8be92b.

[2020-10-05 21:00] #480 closed

[2020-10-08 22:26] manugarg commented on #466
@infa-kparida #486 implements dynamic labels. Whenever you get a chance, you please verify if that's what you were looking for?

[2020-10-10 22:49] manugarg commented on #349
Working on a change to add units to latency metric.

[2020-10-14 22:31] #466 closed

[2020-10-15 07:29] javiergp opened #493 "Provide an option to disable sysvars logging"
Currently sysvars are always reporting and it has impact in the surfacer (i.e. storage in Stackdriver). In our use case we only need to report the latency so it would be great to have a way to disable the report of the rest of metrics.

[2020-10-15 07:36] javiergp opened #494 "Possibility to configure latency prober as GAUGE"
Currently Latency prober is a CUMULATIVE metric (or it can be configured as distribution). This is useful for high frequency probing, however there are more simple use cases that only require to monitor an onprem to cloud connectivity so a metric non-cumulative would be enough and simpler to configure in Cloud Monitoring (stackdriver)

[2020-10-15 09:13] manugarg commented on #493
Hello @javiergp, I just realized there is an option to limit the variables exported to stackdriver:
https://github.com/google/cloudprober/blob/b7a37672cc92137c9858af0cd126df931ab9aad3/surfacers/stackdriver/proto/config.proto#L21

I think that will meet your requirement. Can you please verify?

[2020-10-16 06:29] javiergp commented on #493
Thank you @manugarg it works for Cloud Monitoring metric! However it still logs to Cloud Logging but that's not an issue right now.

[2020-10-16 19:56] manugarg commented on #493
Cool. Renamed the issue to say "provide an option to disable sysvars logging".

[2020-10-21 13:53] icco opened #497 "[Documentation] Add docs for surfacers"
Add examples and more information about how to use different types of surfacers in the online docs. It's unclear how to send data to Stackdriver for example.

[2020-10-23 18:02] manugarg commented on #497
Thanks for filing this, @icco (Hello, by the way :)). I am working on the documentation for Stackdriver as this has come up quite a few times recently.

In the meantime, the smallest config for stackdriver looks like the following:

[code]

You can have multiple surfacers, for example, to add both, prometheus and stackdriver surfacer:

[code]

More config options:

https://github.com/google/cloudp

[2020-10-26 13:09] icco commented on #497
👋 ! neat, thanks! Talking a bit about how wonderful cloudprober is in a book for https://newline.co so just want to make sure that if I send folks here they have all of the docs they need to be successful.

[2020-11-04 01:21] manugarg commented on #497
That's great. Thanks Nat! :)

Added some initial documentation on surfacers:
https://cloudprober.org/surfacers/overview/
https://cloudprober.org/surfacers/stackdriver/

I'll add some examples as well.

[2020-11-05 09:05] melchiormoulin opened #500 "abilility to log in json"
Hello,
To set up a logging probe the logger need to output log in json. For now the logger seems not configurable for doing this.

[2020-11-09 17:38] manugarg commented on #500
@melchiormoulin I don't follow this part. Can you please explain what you're trying to do.

[2020-11-09 20:01] manugarg commented on #497
Added examples here: https://github.com/google/cloudprober/tree/master/examples/surfacers (commit: https://github.com/google/cloudprober/commit/4be46a994f2ba47b4f71a227f3db47297ce275c3).

[2020-11-10 00:20] manugarg commented on #497
Closing the bug now. I'll look forward to reading your book, @icco :)

[2020-11-10 00:20] #497 closed

[2020-11-11 19:27] melchiormoulin commented on #500
The logging stack in my company in handling json format from the stdout of containers. To set up a logging probe we need to output cloudprober log in json.

[2020-11-11 19:59] manugarg commented on #500
By logging probe, do you mean running a probe that verifies that logging is working?

Or, you want probe metrics to be logged in json format so that your existing logging infrastructure can use that data for monitoring (dashboards) and alerting purpose?

For the first option, you'll need to use an external probe: https://cloudprober.org/how-to/external-probe/.

and, for the second option, we'll ne

[2020-11-17 09:19] melchiormoulin commented on #500
I'm already currently developping the first option, my issue was more about to have  different kind of logs :

- in json  from my external probe
- in plain text from the cloudprober default logger

[2020-11-20 09:04] manugarg commented on #500
@melchiormoulin I see. Adding json logger to cloudprober like this will not add any value other than consistency for your use case. It will unnecessarily increase cloudprober's dependencies and increase the binary size as 'zap' itself has a bunch of dependencies.

[2020-11-26 00:33] pimvanpelt opened #511 "Surfacing metrics faster than 10s"
**Describe the feature you'd like and the problem it will solve**
I am diagnosing intermittent packetloss on an ethernet point to point link, and came across cloudprober which can send UDP and ICMP echo probes at a reasonably high rate. However the prometheus surfacer updates at a rate of 10s currently.
I saw sysvars_interval_msec which does increase the rate of sysvars, but it does not update the

[2020-11-26 00:44] manugarg commented on #511
Hello @pimvanpelt!

There is a probe level config option to control the frequency at which metrics are exported:
https://github.com/google/cloudprober/blob/3d5080b5dd0ee6a23395e6cf42a24c3e10557c2d/probes/proto/config.proto#L102

So your config will look like the following:

[code]

I think it should do what you're looking for.

[2020-11-26 10:46] pimvanpelt commented on #511
Thanks @manugarg exactly what I was looking to achieve. Fixed a tiny broken window along the way, #512.

[2020-11-26 10:46] #511 closed

[2020-12-02 01:41] #500 closed

[2020-12-10 01:04] ltagliamonte-dd opened #522 "Expose pprof as endpoint"
**Describe the feature you'd like and the problem it will solve**
The current pprof metrics are exposed on disk and this is not great for debugging in a container environment.
Would be possible to expose those metrics as http endpoints, like:
[code]
I'm ceasing down a tiny mem leak that after extensive tests I belive it is not related to my custom probe and having pprof endpoint exposed as HTTP en

[2020-12-10 01:10] manugarg commented on #522
pprof is already available at these URLs.

http://<cloudprober-host>:9313/debug/pprof and other URLs should work.

[2020-12-10 01:12] ltagliamonte-dd commented on #522
thank you for the quick reply!!

[2020-12-10 01:12] #522 closed

[2020-12-15 09:48] benner commented on #494
This also can be helpful if surfacer is PostgreSQL (not need to us window functions like LAG() or LEAD())

[2020-12-15 10:00] benner opened #529 "Validate HTTP response header"
**Check for specific HTTP response header and value**

There is possibility to add request headers but no validation for returned ones. Having this kind of validator I can increase our probing fidelity.

I can make pull request but registered this issue first to open discussion about best implementation to fit not our needs but for all community. By looking into code it seems that best place is to

[2020-12-16 19:36] manugarg commented on #529
Hello @benner,

Thanks for filing this. I think response header validator (as part of http_validator) makes a lot of sense. Please feel free to send the pull request.

It probably makes sense to use regex for value match. Sometimes, there can be small variations on some header values, all of which are okay.

[2020-12-18 13:37] chenlujjj opened #531 "latency of ping probe result is not accurate when targets number is big"
**Describe the bug**

The latency of ping probe result is not accurate when targets number is big

**Cloudprober Version**
v0.11.1

**To Reproduce**
Steps to reproduce the behavior:
1. compile the ping.go in probes/ping/cmd folder to binary file
2. use the ping to probe about 50 targets
3. the result shows that latency (corresponding to ping rtt) is bigger than the latency when pinging to each tar

[2020-12-18 15:13] chenlujjj opened #532 "opts in cmd/ping.go is incomplete"
**Describe the bug**
The `opts` in file `probes/ping/cmd/ping.go` is incomplete:
[code]
it should provide value for `LogMetrics`, for example : `func(*metrics.EventMetrics) {}`

**Cloudprober Version**
v0.11.1
**To Reproduce**
Steps to reproduce the behavior:
1. Go to  probes/ping/ folder
2. go build cmd/ping.go
3. run  ./ping
4. output:
[code]

**Additional context**
Add any other context about t

[2020-12-18 17:39] manugarg commented on #531
@chenlujjj Latency measurement depends on when outgoing packet is sent by the operating system and when incoming packet is received and processed by cloudprober. Increasing the number of targets can possibly cause delays if packets are not being delivered or processed fast enough -- it will likely  depend on many factors - CPU available, probe frequency, and possibly some operating system paramete

[2020-12-20 12:38] chenlujjj commented on #531
Hi, @manugarg , thank you for your reply.
When pinging about 50 targets, the average rtt is in 4~7 ms range, in contrast, when pinging one target, the average rtt is in 1~2 ms range.

I was using the default config in `config.proto`, except that I set `use_datagram_socket` as `false`. BTW, does this setting have effect on latency ?

[2020-12-20 13:14] chenlujjj commented on #531
The reason why I set use_datagram_socket as false is that, with the default config(use_datagram_socket=true), the ping result shows success=0.  It turns out the `recvPackets` function always return of timeout error: "read udp 0.0.0.0:0: raw-read udp 0.0.0.0:0: i/o timeout". I haven't figure out the cause. My OS is macOS 10.15.6.

[2020-12-21 21:31] manugarg opened #537 "Datagram socket ping (unprivileged ping) over IPv4 is broken for MacOS"
While investigating #531 (also as mentioned in the bug report) I found that unprivileged ping (datagram socket based ping) is broken on MacOS, but only for IPv4.

W1221 13:19:53.246066   94333 ping.go:330] read udp 0.0.0.0:0: raw-read udp 0.0.0.0:0: i/o timeout
1608585592 labels=ptype=ping,probe=ping,dst=www.google.com total=2 success=0 latency=0.000 validation_failure=map:validator,data-integrity

[2020-12-21 21:46] manugarg commented on #531
I've filed #537 to investigate the datagram socket (use_datagram_socket) breakage for MacOS. I could reproduce it on my end (it seems only IPv4 is impacted, IPv6 is fine). Thanks a lot for finding this issue, I was completely unaware of it.

ICMP over datagram socket is slightly more efficient as cloudprober doesn't have to deal with all the ICMP packets in that case. By default, OS delivers all I

[2020-12-22 03:01] manugarg commented on #537
I've sent a change for review to fix this.

[2020-12-22 03:35] #532 closed

[2020-12-22 06:28] manugarg commented on #71
Marking it low priority. Please comment if you'd like to increase priority.

[2020-12-22 06:30] manugarg commented on #11
Marking it low priority. Please comment if it's important to you and you'd like to see it implemented sooner.

[2020-12-22 06:31] manugarg commented on #141
Please let's know if this use is important to you and you'd like to see it implemented sooner.

[2020-12-22 19:25] #537 closed

[2020-12-22 19:27] manugarg commented on #531
@chenlujjj Just FYI, I've submitted the fix (#539) for the MacOS datagram socket issue. In case, you want to give it a try.

[2020-12-23 02:57] chenlujjj commented on #531
@manugarg Thanks, it works well now.

[2020-12-23 03:36] manugarg opened #540 "Use SO_TIMESTAMP socket option to increase accuracy of ping probe latency measurement."
In ping probe, we compute latency like this:
`latency = packet-receive-timestamp - packet-sent-timestamp (stored in packet payload)`

Currently `packet-receive-timestamp` is the time when packet is received by the cloudprober process. However, there can be some small but indeterministic delay between when the kernel receives the packet and when cloudprober gets to work on it.

To remove this delay

[2020-12-23 20:58] manugarg commented on #540
Note that "ping" binary uses the same technique.

[2020-12-23 20:59] manugarg commented on #531
Cool. I've also filed #540 to increase accuracy of ping probe latency measurement.

[2020-12-24 22:49] manugarg commented on #531
Branch https://github.com/google/cloudprober/tree/ping_so_timestamp (#541) has improvements that will make latency measurement much more accurate. Given the holidays, I'll probably not be able to merge these changes in master branch before Jan 1st week or so.

[2020-12-28 19:37] manugarg commented on #540
PR https://github.com/google/cloudprober/pull/541 has this change. Impact of this change on a single VM with multiple targets (~10). Improvement will be even better with more targets.

![wuOqxDmE4tT](https://user-images.githubusercontent.com/1286425/103238871-dc502680-4900-11eb-9afa-f6f0d5afc87d.png)

[2020-12-30 22:51] manugarg commented on #493
I just verified that sysvars logs to cloud logging only in the beginning:
https://github.com/google/cloudprober/blob/34627fb79d281b4236c7f21f1eec2ba785c5a773/sysvars/sysvars.go#L185

or, if debug mode is enabled.

I am going to close it now. Please feel free to re-open if it's still an issue.

[2020-12-30 22:52] #493 closed

[2020-12-31 03:21] manugarg commented on #494
Testing a way to do this for stackdriver surfacer in https://github.com/google/cloudprober/tree/sd_gauge

[2020-12-31 04:14] greglaun-google opened #543 "Previously working k8s probe workers are crash looping"
**Describe the bug**

I am running some probes on Kubernetes following the guidance on https://cloudprober.org/. They began crash looping on Dec 10.

The proximate cause is that runProbe calls req.WithContext without checking whether req is nil https://github.com/google/cloudprober/blob/34627fb79d281b4236c7f21f1eec2ba785c5a773/probes/http/http.go#L336 This causes a segmentation violation.

The iss

[2020-12-31 05:28] manugarg commented on #543
Thanks a lot for filing this issue @greglaun-google. This is very helpful.

IIUIC, it's getting triggered by invalid host names. Where earlier cloudprober will simply ignore if there is an error in creating requests, now it crashes because we are not checking for nil requests. We need to fix this ASAP.

Other than that, this issue highlights a bunch of other possible improvements:
* We need to ver

[2020-12-31 22:08] manugarg commented on #543
Just wanted to update that docker tag changes mentioned above have been implemented. "latest" is now pointing to the last release.

[2021-01-05 16:22] greglaun-google commented on #543
Awesome thanks for the update and for responding so quickly! I'm not sure the issue I was facing with my real config was caused by a bad host name. I'll send it to you outside this bug so you can take a look.

[2021-01-05 18:46] manugarg commented on #543
It's the "https://" in the targets field that fails the request creation. It should have only hostname in it.

host_names: "https://www.google.com" # Note the https
}

[2021-01-05 22:12] greglaun-google commented on #543
I was able to create a minimal example based on the problem with my config. The issue is the presence of a custom HTTP verb, which [Google indicates by appending the verb to the URL after a colon.](https://cloud.google.com/apis/design/custom_methods#http_mapping).

This issue appears to have been introduced in PR #505. The issue is likely the line https://github.com/google/cloudprober/blob/f16a0a0

[2021-01-05 22:17] greglaun-google commented on #543
In Logs Explorer, I'm seeing logs that say

`target: www.google.com/foo:customVerb, error creating HTTP request: parse http://[www.google.com/foo:customVerb]: missing ']' in host `

[2021-01-05 22:36] manugarg commented on #543
That's correct. We started doing things assuming that a host is actually a host.

For HTTP probe, verb and URLs should be configured in the http_probe{} stanza. It's a mistake on cloudprober's part that error message is not clear. Quoting my previous comment:

We need to verify that "targets.host_names" contains only host names .. i.e. no port, no URL, no protocol, etc. I'll do that soonish.

[2021-01-06 16:45] greglaun-google commented on #543
Ok thanks! So host_names should really truly be a comma separated list of actual host names.

I can confirm that moving the URL to the relative_url field of http_probe works.

One of the things that confused me is that the following config is still valid on master, but IIUC, this will soon be rejected by rules that validate the host name:

[code]

[2021-01-06 18:20] manugarg commented on #531
@chenlujjj Ping probe latency measurement must be much more accurate after #546. If you're using docker, you can test it with docker tag `master`.  I'll go ahead and close this now. Feel free to re-open if you've any comments.

[2021-01-06 18:20] #531 closed

[2021-01-06 18:20] #540 closed

[2021-01-06 21:56] #543 closed

[2021-01-14 02:07] manugarg commented on #531
Hi @chenlujjj,

I was wondering if you were able to test the latest changes in your setup. We are seeing much more accurate measurements in our setup now. One example:

https://github.com/google/cloudprober/issues/540#issuecomment-751839854

[2021-01-14 15:29] benner commented on #529
Add partial (only header existence) suggestion: https://github.com/google/cloudprober/pull/553

As mention in commit: to add value validation some things should be consider. It can be array with multiple values (rare case). If so - what to do for success/fail check. Some ideas: only and only value which is specified in cfg should exists; any of values should meet specified criteria. Should we add

[2021-01-14 20:09] manugarg commented on #529
@benner How about we use regex for value check?

success_header {
  name: ..
  value_regex: ..
}

[2021-01-14 21:00] benner commented on #529
Sure, I already tried to do this but then realized that value is array. What to do with it? I mean some values in array can match this regex some - don't. Do we need another setting for logic "and" or "or"? Ether way if we merge this I promise to do value validation in agreed way :-)

[2021-01-14 21:02] benner commented on #529
From stack overflow (:D):
![image](https://user-images.githubusercontent.com/407369/104648872-7a433f80-56bc-11eb-86f6-22de1e03d260.png)

In Golang this means it's a []string array.

[2021-01-14 21:06] benner commented on #529
In my opinion it this good solution to have header name required and header value (or value_regex) optional. And then if only header name is present - we only validate header existence and if value/regex is present - we validate values too. We just need to how to deal with multiple values on same header map key.

[2021-01-14 22:36] manugarg commented on #529
Ah, good point regarding multiple possible values of an HTTP header. How about we pass the check if any value matches the regex. Similarly fail the check if any value matches "fail header" value regex?

Something like:

[code]

[2021-01-15 02:32] xuanyuanaosheng commented on #359
@fcastello  @manugarg Could you please share a configuration of the UDP Probe ?

[2021-01-15 05:46] benner commented on #529
Agree. I will extend PR. Also then it makes sense to have dedicated function like status code lookup :-)

[2021-01-19 03:39] guilledipa opened #554 "[GKE] Error initializing CloudProber"
**Describe the bug**

CloudProber running on GKE (Private cluster) fails to initialize due to `GCE metadata "instance/name" not defined`.

Here the CloudProber logs

[code]

**Cloudprober Version**

https://hub.docker.com/layers/cloudprober/cloudprober/v0.11.1/images/sha256-27fb01b0ecf1343b0d4c429f4e8ff97edaf687eae501d751f256e958b9432e54?context=explore

**To Reproduce**

I followed the steps desc

[2021-01-20 08:13] manugarg commented on #554
@guilledipa Commit above should fix the issue. You can access the latest docker image using the tag: "master" (more on docker versions: https://github.com/google/cloudprober/wiki/Docker-versions)

[2021-01-20 08:15] manugarg commented on #554
Closing this issue (it will be released in the next release -- v0.11.2, due in about 10 days). Please feel free to reopen if issue persists.

[2021-01-20 08:15] #554 closed

[2021-02-11 00:38] manugarg commented on #529
@benner I was wondering if you wanted to finish the PR :)

Also, curious if cloudprober working out for you?

[2021-02-11 05:35] benner commented on #529
Sorry for delay, I'm OOO. I will continue on this next week

[2021-02-12 07:53] skalle opened #557 "Have the ability to override configuration targets with a flag."
What we're trying to do:

- Spin up cloudprobers during Spinnaker deployments. Targets should be the base and canary versions, they're not know until Spinnaker has executed it's Deploy step.
- Use the resulting metrics as part of the Spinnaker CAS run.

We use external probers that are packaged together with cloudprober in Docker images.
The prober configuration lives in the same repo and is packa

[2021-02-12 11:41] skalle commented on #557
Ended up doing this with configMaps in the end.

[2021-02-12 11:41] #557 closed

[2021-02-12 23:09] manugarg commented on #557
Cool. Glad that it worked out for you, @skalle.

Another option you have is to use file-based targets. It's not documented very well, but following proto file may help:
https://github.com/google/cloudprober/blob/master/targets/file/proto/config.proto

[2021-02-15 03:02] skalle commented on #557
Hey @manugarg , that option would have been optimal.

From what I can see though it's only possible to configure RDS targets.

[2021-02-19 13:34] benner commented on #529
Answering this: few additional things are needed:
* other (more general) discovery mechanism (thinking about consul)
* some flag which makes time.Duration on probe non blocking for fist time (of configurable first time delay)
* prometejus surfacer metric filtering will be nice too (e.g. for just exposing cloudprober internal metrics)

After HTTP header validation I can make more PRs for these.

[2021-02-22 17:59] #529 closed

[2021-02-24 09:37] manugarg commented on #529
I filed a bug for consul support long time ago, but didn't get a chance to work on it: https://github.com/google/cloudprober/issues/316

Also, curious if you have seen file based targets for super general discovery mechanism:
https://github.com/google/cloudprober/blob/master/targets/file/proto/config.proto

File can be on GCS (or filesystem) and cloudprober will re-read the file at regular interva

[2021-02-24 14:54] benner commented on #529
Yes I played and filed mini fix :-)

[2021-03-10 14:14] benner opened #575 "Improve HTTP probe gap between targets for automatic discovery"
**Improve HTTP probe gap between targets for automatic discovery**

Current behavior (`interval_between_targets_msec`) is perfect for static target list but target list are updating dynamically (e. g. `file_targets`) all probes if there are changes has tendency to move to interval beginning.

I spot this possibility from code and made short experiment:
* 1 probe
* 6 targets in file
* `interval_bet

[2021-03-22 07:12] guilledipa opened #580 "GKE Auto detection for metric labeling"
When running on GKE, it would be great to have automatic labeling for the metrics, similarly to how it is done for GCE.

It would be useful if on GKE we can set the resource to k8s_cluster/ k8s_node / k8s_pod / k8s_container.

Additionally, some attributes are worth having as resource labels: project_id, cluster_name, location, pod_name, node_name, namespace_name, container_name (e.g use case: mul

[2021-03-23 07:23] guilledipa commented on #580
Similar to this `enhancement`; logging is also by default going to `resource.type="gce_instance"` which isn't ideal when running on GKE.

[2021-03-29 18:09] xenofree opened #582 "Allow multiple substitution tokens in additional labels"
Hi,

Is there a way to create a label that contains full url of an http probe ?
Something like @target.name@:@target.port@@target.relative_url@

[code]

[2021-04-11 10:51] robpickerill commented on #141
Hey Manu, I'd like to also pick this up.

I suspect it will take me a few weeks to implement in between work and other commitments - if you ok with these timeframes? I'll make a start here next week.

[2021-04-12 05:37] sairohith opened #585 "Datagram socket PING broken in MacOS"
It's failing for all the PING probes for MacOS

#TYPE total counter
total{ptype="ping",probe="tools_asset_ping",dst="google.com"} 20 1618199752241

#TYPE success counter
success{ptype="ping",probe="tools_asset_ping",dst="google.com"} 0 1618199752241

[2021-04-12 05:44] manugarg commented on #585
@sairohith can you add more details.

1. Did it start breaking recently?
2. Which version of cloudprober are you using?
3. What's the probe configuration?

[2021-04-12 05:48] manugarg commented on #585
#537 may be relevant. We haven't cut a new release after that. Can you try with the `master` docker image tag if you're using docker image?

[2021-04-12 05:58] sairohith commented on #585
I have started working with cloudprober recently. I'm using  v0.11.1 version.
probe {
  name: "tools_asset_ping"
  type: PING
  targets {
    host_names: "google.com"
  }
  interval_msec: 5000  # 5s
  timeout_msec: 1000   # 1s
}
yeah #537 is similar. So I can expect a fixed one with the new release.
Still didn't use it with docker image, will try that.

[2021-04-13 02:50] manugarg commented on #585
If it's #537, then only unprivileged ping will be broken. You can specify the following option to use privileged ping and run it as root:

[code]

More explanation of this option:
https://github.com/google/cloudprober/blob/1a7728468db29ca3c6d2a9e4e0e42093bd2a3fed/probes/ping/proto/config.proto#L18

[2021-04-13 02:51] manugarg commented on #585
And, yes I need to cut a release soon.

[2021-04-13 11:04] sairohith commented on #585
Thank you, could access it as privileged ping.

[2021-04-16 05:19] manugarg commented on #585
New release has been cut. Closing this one now.

[2021-04-16 05:19] #585 closed

[2021-04-17 09:20] manugarg commented on #141
Hey @robpickerill,

Sounds good. Thanks for picking it up. :)

[2021-04-18 05:48] manugarg commented on #582
Yeah, It's not possible to compose labels today. I'll see we can somehow implement it.

[2021-04-23 09:19] robpickerill opened #590 "Improve regex filtering in surfacers"
From: https://github.com/google/cloudprober/pull/583 / https://github.com/google/cloudprober/pull/583#discussion_r615179757

[code]

Moving this comment to an issue so that its not lost in the PR.

[2021-04-23 18:54] manugarg commented on #590
Thanks for capturing it here, @robpickerill.

I'll soon submit a change for this.

[2021-04-25 08:16] lklkxcxc opened #592 "Running On Kubernetes pod encounter an error on OpenStack"
**Describe the bug**
Deploy CloudProber on Kubernetes, POD error after startup:
[code]

**Cloudprober Version**
master
**Additional context**
I  use self-bulit virtual machine and kubernetes not use EC2 instance.

Cloudprober on kubernetes reference [https://cloudprober.org/how-to/run-on-kubernetes/](url)

[2021-04-26 07:14] manugarg commented on #592
@lklkxcxc This is very surprising. This is where this error is returned:
https://github.com/google/cloudprober/blob/7608e999daad44c4e079220e441ed9c0feb3f5b1/sysvars/sysvars_ec2.go#L45

But we return this error only if ec2metadata.New(s).Available() returns true. It should return true only on EC2.

Also, cloudprobers on a lot of kubernetes instances, I am surprised you're encountering this error. A

[2021-04-26 07:23] lklkxcxc commented on #592
@manugarg this case cloudprober.cfg show:
[code]
Virtual machine base on OpenStack not EC2

[2021-04-26 07:24] manugarg commented on #592
Based on the ec2metadata code, it seems that Available() call checks for the following URL on the instance:

http://169.254.169.254/latest/meta-data/instance-id

Any possibility that this URL is somehow working on your system?

[2021-04-26 07:28] manugarg commented on #592
Ah, it seems that openstack Nova (not sure what Nova is here) provides metadata in EC2 format as well:
https://docs.openstack.org/nova/latest/user/metadata.html#nova-metadata

I am assuming that means http://169.254.169.254/latest/meta-data/instance-id will somehow work on openstack nova as well.

[2021-04-26 07:30] manugarg commented on #592
Regardless though, you can disable cloud metadata check completely by providing the following flag to cloudprober:

`--cloud_metadata=none`

[2021-04-27 00:58] lklkxcxc commented on #592
@manugarg config "**--cloud_metadata=none**" this problem was sloved.

[2021-04-27 00:58] #592 closed

[2021-04-28 21:56] c6h12o6 commented on #141
I accidentally picked this up (without talking to robpickeril, though I am a coworker of his). You can assign it to me if you'd like.

https://github.com/google/cloudprober/pull/594

[2021-04-29 06:57] sairohith commented on #246
Hi, can you explain how to use the gRPC service by cloudprober, may be a documentation with an example helps a lot. Also, I have a doubt will the adding of new probe actually creates a new instance of cloudprober as I saw in client.go its trying to run at port 9314, so I thought I have to look into localhost:9314/status for the added probe?
Could you help me out with this?

[2021-04-29 21:44] benner opened #596 "Support allowed_metrics_regex in Prometheus surfacer"
**Describe the feature you'd like and the problem it will solve**

`cloudwatch` and `stackdriver` surfacers has ability to filter which metrics to emit (`allowed_metrics_regex`). It would be greatge to have same functionality for Prometheus surfacer. This can be useful in situation where Prometeus is for monitoring `cloudprober` itself and target metrics is somewhere else.

[2021-04-30 03:59] rohith91 commented on #123
Hi, I'm trying to build a wrap around cloudprober that helps for a better user usage.  user might not be aware of what’s happening behind. planning to build UI that has the option to add probes by user. I came up with a problem that dynamically adding or removing probes that might not need a restart the entire service. I’m trying to implement the gRPC service you have but couldn’t use it. I’m unab

[2021-04-30 18:54] manugarg commented on #596
I think this is a duplicate of #590. Please feel free to reopen if it is not.

#597 implements a fix for this.

[2021-04-30 18:54] #596 closed

[2021-04-30 18:54] manugarg commented on #590
#597 should fix this.

[2021-05-01 20:33] robpickerill commented on #590
Thanks Manu, I started on this PR to update the docs to help out: https://github.com/google/cloudprober/pull/598

[2021-05-03 17:30] ram941 opened #599 "Unable to connect gRPC for dynamic configuration of cloudprober"
I'm running the cloudprober at port 9313 and I’m trying to implement the gRPC service for dynamic updates in cloudprober configurations.
I have seen this command in client.go file in prober directory, tried to implement that but couldn’t get the response from server, tried running command similar to:
 // go run ./cmd/client.go --server localhost:9314 --add_probe newprobe.cfg
I’m getting this error

[2021-05-04 05:33] #599 closed

[2021-05-08 04:31] manugarg commented on #590
Closing this. Release will be tracked through the milestone v0.11.3.

[2021-05-08 04:31] #590 closed

[2021-06-03 17:12] manugarg commented on #494
#604 should solve this. You can simply add "export_as_gauge" to any surfacer config and surfacer will export metrics as gauge metrics.

[2021-06-03 17:12] #445 closed

[2021-06-21 20:39] vadimberezniker opened #611 "Support specifying prober interval / timeouts as durations"
It would be nice if the prober config supported specifying durations as user-friendly strings.
i.e.
[code]
instead of
[code]

[2021-06-22 02:29] tbuchier opened #612 "RDS Kubernetes Endpoints include pod name"
Hello,

We are using the rds endpoints to probe some statefulsets in kubernetes.
We would like to have the pod name available in the endpoint resource so we can add it in the metrics labels for clearer alerting.

Indeed statefulsets pod name are "fixed" whereas pod IP is prone to change so right now our temporary solution is to do some PromQL join to link the pod ip with it's name to print it corr

[2021-06-23 23:26] manugarg commented on #612
I think this can be done -- we can add a target-name label to endpoints, and you can add that label to your metrics in cloudprober.cfg.

I am not sure yet if we should call it pod-name instead (if target kind is pod), to make it more clear, as target-name may be a little confusing given cloudprober's use of 'targets' keyword. I'll think more about it. Let me know if you've any preference.

[2021-06-24 02:42] tbuchier commented on #612
I'd prefer pod-name too, more clear

[2021-06-24 15:42] benner opened #613 "HTTP probe with `file_targets` can begin first iteration with 0 targets"
**Describe the bug**
HTTP probe with `file_targets` can begin first iteration with 0 targets

**HEAD (https://github.com/google/cloudprober/commit/933e248bd3d02814b7ebba6a389ca846293b9a28)**

**To Reproduce**
Steps to reproduce the behavior:
1. Have relatively large `targets.textpb` file
2. Configure probe with `file_path`
3. Start Cloudprober with `-debug`
4. Watch logs

**Additional context**

[

[2021-06-24 22:19] tushar-door commented on #466
@manugarg : This adds label to any new metrics that are being emitted from prober. Is there a way to add labels to standard metrics like (total, success)

[2021-06-28 20:40] manugarg commented on #612
I was out for a couple of days. I've sent a change internally (@google); I should be able to submit it in a day or two. By the way, I am adding two labels to endpoints resources -- "node" and "pod".

@tbuchier, if it's okay, can you please share where are you using cloudprober. I mean, which org/company it is, or if it's a home-setup.

[2021-06-29 03:27] tbuchier opened #616 "GKE Logging StackDriver Metadata error"
Hello,

When deploying on GKE, it seems that stackdriver is enabled by default, but failing with metadata error:

[code]

GKE 1.20.6 default conf
Using cloudprober/cloudprober:latest
DIGEST:sha256:65fa047385dea20511effb3ec65c01c29cd8851d8f8448a046221e4488aed255

Thanks

[2021-06-29 03:44] tbuchier commented on #554
Hello,

Using cloudprober/cloudprober:latest
DIGEST:sha256:65fa047385dea20511effb3ec65c01c29cd8851d8f8448a046221e4488aed255

Same as 0.11.2 the issue persist:

GKE 1.20.6-gke.1000

[code]

[2021-06-29 04:04] tbuchier commented on #616
Edit Closing as it's similar to #554 just on the logger instead of surfacer.

I found out that we can disable the logging using the flag: disable_cloud_logging until this issue is fixed

[2021-06-29 05:40] tbuchier opened #617 "Default behaviour of RDS Filter and Probing multiple matched services"
Hello,

It seems that by default rds filter doesn't do an exact match but a startswith match

e.g.:
If I have the namespaces returned in this order by k8s:
* foo-e2etest
* foobar
* foo

The target conf:
[code]
Will select  `foo-e2etest` and not `foo`.

Could it be matching the exact name instead (and thus foo) ? and if we want to match a pattern that startwith, the user can use `foo.*`

Also in th

[2021-06-29 19:23] manugarg commented on #612
1027e15 adds "pod" and "node" labels to "endpoints" resources. You can try these changes using the "cloudprober/cloudprober:master" image.

[2021-06-29 23:15] manugarg commented on #617
We use regex for namespace matching. Sorry it's not super-obvious.

To restrict the namespace match to "foo", you can specify namespace as "^foo$" for now. I think we can add "start" and "end" anchors by default. So if user specifies "foo" that should be automatically interpreted as "^foo$". That will be the usual expectation from user's point of view. Thanks so much for reporting.

That should al

[2021-06-30 02:52] tbuchier commented on #617
Yup I've been setting the anchors manually until then.

I'm using the default rds conf:
[code]

In the probe logs I can see a log message telling me that other matching service are found but ignored

Seems to be due to:

rds/client/client.go
[code]
This should probably check the combination namespace/name or the ip as my service have the exact same name they are just in different namespaces for ex

[2021-07-01 17:50] manugarg commented on #617
Ah, yes. This makes sense. We enforce unique names for targets. Reason being that in some probe implementations (actually all of them except for the HTTP probe type) metrics are keyed off of target names. It will not be easy to change that.

Do you think creating different probes for different namespaces will be feasible for you? It's probably not very obvious but cloudprober configs have some tem

[2021-07-01 19:37] manugarg commented on #613
Assigned it to the next milestone. Closing this issue now.

[2021-07-01 19:37] #613 closed

[2021-07-01 19:38] manugarg commented on #612
Closing this issue. Added it to the v0.11.3 milestone (release).

[2021-07-01 19:38] #612 closed

[2021-07-01 20:03] manugarg commented on #616
@tbuchier Were you able to find a workaround for this?

[2021-07-03 02:45] tbuchier commented on #616
Hello,

I tried to disable the cloudlogging in case it came from the stackdriver logger setup but still same issue.
I'll have a better look next week :)

[2021-07-03 02:49] manugarg commented on #616
You should be able to workaround this by using the flag: --cloud_metadata=none.

[2021-07-03 04:41] tbuchier commented on #617
I see, make sense.

I'll maintain different skaffold profile per env, that maintain the list of namespaces and generate probes using a loop in their Helm template.

Thanks for the explanation

[2021-07-07 20:24] manugarg commented on #616
FYI: I am implementing a proper fix for this.

[2021-07-07 20:27] manugarg commented on #616
I'll implement a proper for this:

- Detect if running on GKE. If running on GKE, don't try to get the instance name when getting cloud metadata.

[2021-07-08 06:54] manugarg commented on #580
#622 should fix the logging issue for GKE.

[2021-07-08 21:50] manugarg commented on #616
This should now be fixed, if you use the docker image built from the head (:master).

[2021-07-08 21:51] manugarg commented on #494
Closing this as it is done now.

[2021-07-08 21:51] #494 closed

[2021-07-08 22:34] #617 closed

[2021-07-09 17:31] #580 closed

[2021-07-10 00:24] manugarg commented on #580
Note that to access container_name, you'll need to set CONTAINER_NAME environment variable in your deployment config.

[2021-07-14 05:08] tbuchier commented on #616
Hello,

It seems that it's still try to access instance metadata (ip)

Using master image i'm now getting:

[code]

I re tried with --disable_cloud_logging and now getting:

[code]

[2021-07-14 08:12] manugarg commented on #616
I see what's going on with the first error. We check for "l.logc" being before logging remotely, while "l.logger" is used to log remotely. With the recent change, we created a situation where we are trying to log when l.logger is nil while l.logc is not. Its fix is very simple. I've a PR for it: https://github.com/google/cloudprober/pull/625

Regarding the second error, it seems that more metadata

[2021-07-14 08:34] manugarg commented on #616
I think we can go by this list:
https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity#gke_mds

[2021-07-15 02:09] manugarg commented on #616
It should all be fixed now. @tbuchier, Can you please give it another try? Thanks in advance and sorry for the trouble.

[2021-07-16 01:07] manugarg opened #628 "Datadog surfacer makes cloudprober binary too big"
Datadog surfacer, added in #627, makes cloudprober binary size go from 52 MB to 61 MB (zipped 35.7 MB to 43.7 MB), that's more than 17% (22% for zipped version) increase in binary size, just for one surfacer. I believe this is due to monolithic datadog API package. We should look at avoiding the library package and using the HTTP REST API directly.

CC: @c6h12o6

[2021-07-16 06:52] manugarg commented on #628
I've a change that fixes this. I'll submit it tomorrow.

[2021-07-16 12:46] tbuchier commented on #616
Thanks a lot, it does work well now :)

At first I was getting some logging permission errors:
[code]

The gke logging is set to system only that's probably why so I just added the disable_cloud_logging flag

[2021-07-16 12:46] #616 closed

[2021-07-20 01:17] manugarg commented on #141
Closing this as it is done (#594, #627).

[2021-07-20 01:17] #141 closed

[2021-07-20 05:38] manugarg commented on #628
Binary size is back to 35.8 MB zipped, 52 MB unzipped.

[2021-07-20 05:39] #628 closed

[2021-07-20 05:41] manugarg commented on #582
I am working on a change to add this feature. I'll submit it in a couple of days.

[2021-07-21 10:55] cool-RR opened #633 "[Documentation] Document Cloudprober output"
I'm setting up a probing configuration that uses Cloudprober. I'm looking at Cloudprober output which looks similar to this:

[code]

I want to be able to read every line and understand every word of it. There should be documentation that explains it.

The specific output above is from the docs and is mostly self-explanatory, but the examples I've got (which I can't share) aren't as easy.

[2021-07-21 19:05] benner opened #634 "Reduce resource consumption when using file discovery with same file in multiple probes"
**Reduce resource consumption when using file discovery with same file in multiple probes**

Setup:
Multiple HTTP probes with same file_targets {file_path} (generated from consul-template) and different filter{} to for each  probe to select related targets (similar approach as with `run_on` {}), `.textpb` file is about 220 MiB in size with more than 1M resource{}s, `cloudprober.cfg` has more than

[2021-07-21 19:24] manugarg commented on #634
@benner If all probes are using the same targets you can consider using `shared_targets`.

Sorry, it's not documented, but here is what you can do:

Add the following config stanza at the config file level:

[code]

and, then at the probe level:
[code]

[2021-07-21 19:28] manugarg commented on #634
Ah, but you're using different filters. Can these filters be a regex on target names?

[code]

[2021-07-21 19:37] benner commented on #634
I saw shared_targets or regex filtering nut in my case all probes have different targets. Now I'm using label filters.

[2021-07-21 19:45] benner commented on #634
Example of cfg:

[code]

[code]

[2021-07-21 19:46] manugarg commented on #634
I see. I guess [rds_targets](https://cloudprober.org/concepts/targets/#resource-discovery-service) semantics would have been better for file_targets as well. RDS server could run in the same process (all transparent to the probes or configuration), and all probes could just rds_targets.

Does that make sense at all? I can try implementing it. It may take a few days to get it reviewed and submitted

[2021-07-21 19:48] benner commented on #634
I will look into that

[2021-07-21 20:05] manugarg commented on #634
@benner, fyi: I am also looking at adding the "file" provider to RDS. I'll try to create a PR soonish, so that you can test with it if you want.

[2021-07-22 06:43] manugarg commented on #634
I still need to get changed reviewed internally, but here is the proposed change: https://github.com/google/cloudprober/pull/635 (branch [rds_file](https://github.com/google/cloudprober/tree/rds_file)).

With this change you can do the following:

1. Add the following stanza to your cloudprober.cfg:

[code]
2. Then specify targets in probes like this:

[code]

If you'd like to test, you can downlo

[2021-07-23 14:15] benner commented on #634
I tried `rds_target` and it works as expected or I wanted to achieve. What I found missing or did not found how to change is `rds.ClientConf.re_eval_sec` which has default of 30s (with this freshness Cloudprober grows to ~40 GiB instead of 14 GiB in static version).

From what I see `rds.ClientConf.re_eval_sec` is not reachable in configuration file:
[code]

Only inner `ServerOptions` can be confi

[2021-07-23 17:32] manugarg commented on #634
Good point regarding not being to control client side `re_eval_sec` through `rds_targets`. We can fix it, but I am not sure if it will help a lot. Client side refreshing causes data copy between server and client, but is filtered data.

To change refresh interval on the server side (where the file is actually reloaded), you can modify your rds_server config:
[code]

I am wondering if 14GB vs 40GB

[2021-07-23 18:33] benner commented on #634
I think it is directly related. I actually did some heap dumps (pporf) during RSS growth and looked at `.svg`.

Attaching one when RSS was 5G (less probes). I don't have svg now when it was 40G but situation was the same but numbers was bigger.

![image](https://user-images.githubusercontent.com/407369/126825509-d2cbc905-f5e7-4b0e-b92f-b44700fbb173.png)

Next week I'll redo the test with hands cha

[2021-07-23 18:45] benner commented on #634
Yes

[2021-07-23 21:32] manugarg commented on #634
Thanks for sharing the heap profile. Few observations:

- Large amount of memory is being used while parsing the JSON file - 60% of the total.
- 13% is going in runtime.malg -- that's basically for goroutines. I think these must be HTTP probe goroutines.
- 10% + 3.54% is being used for running probes. Interestingly ListEndpoints is using only 1.64% of the heap.
- fileLister.ListResources is using

[2021-07-24 06:18] benner commented on #634
I was always using TextProto

[2021-07-27 08:28] cool-RR opened #637 "Document templating language"
Cloudprober has some kind of templating language in its configuration. I couldn't figure out what language is that. Didn't find it on the readme or in the docs. It needs to be document because people need to know exactly what they can do with this language, and how.

[2021-07-27 08:30] cool-RR commented on #637
Reading the code now, I see it's Go templates. This is probably obvious for Go programmers, but it should be noted in the readme or docs. (I never worked with the Go template language before.)

[2021-07-27 08:39] manugarg commented on #637
@cool-RR Thanks for filing this. Most folks are not even aware of the templating capabilities of cloudprober configs.

Here is some documentation on available config macros in cloudprober (with examples):
https://pkg.go.dev/github.com/google/cloudprober/config

(Can you please use 'enhancement' label for documentation issues in future. We reserve 'bug' label for functionality bugs -- bugs that fol

[2021-07-27 08:41] cool-RR commented on #637
Thank you! Will do.

[2021-07-27 09:38] benner commented on #634
Tested full configuration with default 30s and with 60min

[code]

with 60 min re_eval_sec it works as expected. RSS grows almost the same as with static configuration.

For default 30s interval main reason for memory usage is big number of probes. In my setups it means RDS server receives around 3 requests per second. Result: all CPUs are busy (20 logical CPUs) and memory grows to ~40G.

30s ~900

[2021-07-27 22:09] manugarg commented on #634
Interesting. Thanks again for the heap profiles @benner!

So ListResources should get better with the change that I just committed in the main branch: #640. There was inefficient resource allocation in the previous change.

Another improvement I am planning to make is to reload file "only if" it has been modified since the last load. With that you won't have to worry about re_eval_sec so much.

[2021-07-28 03:24] manugarg opened #641 "Implement caching option in RDS protocol"
Implement caching option in RDS protocol.

RDS client should be able to ask RDS server to return resources only if resources have changed since the provided timestamp.

[code]

If RDS provider supports `if-modified-since`, it will add resources to response only if they have changed since the provided timestamp. Response will also include the `last-modified` timestamp so that client can verify that

[2021-07-28 03:30] manugarg commented on #634
I think #641 will really fix this problem.

[2021-07-29 21:28] manugarg commented on #634
With all the changes so far, I think you should see substantial improvement in performance (much better than the default case earlier). You can even keep the re_eval_sec very low in RDS file provider config -- it won't reload file unless it has changed.

Next up is #641. I'm working on it.

[2021-07-30 20:35] manugarg commented on #582
This is now done. Please track the milestone [v0.11.3](https://github.com/google/cloudprober/milestone/11) for release. In the meantime, you can use docker tag "master" to access the latest changes.

[2021-07-30 20:37] #582 closed

[2021-08-01 16:03] cool-RR commented on #637
Another thing that needs to be documented here: Which variables are automatically available to us. I know that I can use `.region`, but do I automatically get `.zone`? I have to try to find out. Would be nice if I just had a list of all the variables that are available to me.

[2021-08-03 19:05] manugarg commented on #634
@benner, I think we should be good here now. You should be able to use lower re_eval_sec (30s) without any performance impact. Until you update the targets file, no new large data allocation should happen.

Let me know how it goes.

[2021-08-03 19:06] manugarg commented on #641
This should be done now:

1. RDS protocol has support for caching now.
2. RDS file provider supports caching, based on the file's modified_time timestamp.

[2021-08-03 19:06] #641 closed

[2021-08-06 12:36] benner commented on #634
Thank you. Tested for few hours. Everything seems even better.

![image](https://user-images.githubusercontent.com/407369/128511004-5310043d-8f8b-4665-9ce6-d88a3a082013.png)

P.S. I tested on my laptop with full config but without actual HTTP requests. After vocation I will test on real system.

[2021-08-06 12:36] #634 closed

[2021-08-06 17:53] manugarg commented on #634
Awesome. Great to hear. Thanks for checking!

[2021-08-12 08:46] cool-RR opened #651 "Allow debugging configuration templates, and playbooko"
This is a need I've had a few weeks ago, and now my teammate has the same need as well.

We have a Cloudprober configuration template that may have different variables, different regular expressions that we match, etc. Sometimes it doesn't match the machines we think it should be matching. We want to understand how to debug it so we wouldn't have to do trial-and-error in the dark. We want visibili

[2021-08-12 09:36] manugarg commented on #651
There is a "--dumpconfig" flag to dump the parsed config. Parsed config is also available at http://cloudprober-host:9313/config. I guess you want to dump all the variables too, which cloudprober sort of does, though not directly. Cloudprober uses sysvars while parsing the config[1], and sysvars are exported just like any other metric (you can see them at stdout through default file surfacer, /met

[2021-08-12 09:45] cool-RR commented on #651
Thank you. I've never started Cloudprober manually, how do I get it to use this flag?

[2021-08-19 13:22] xenofree opened #652 "file_targets for probe options"
Hi,

Is it possible or will it be possible to configure probe option through file_target like this ?

[code]

[code]

[2021-08-20 20:46] manugarg commented on #652
This should work. @xenofree, is it not working?

[2021-08-23 07:43] xenofree commented on #652
This is not working.

For query type I have this kind of issue.

[code]

[code]

[code]

[code]

And resolved_domain don't seems to be evauated.

[code]

[2021-08-23 19:53] ltagliamonte-dd opened #653 "Metrics not updated on external probe timeout"
We use cloudprober with an external probe that executes a check on [consul](https://github.com/hashicorp/consul).
When the external probe hits a timeout the prometheus metric `total` for that probe doesn't get increments.

In the logs I can clearly see that the external probe hits timeout:
[code]
But the Prometheus metric doesn't get any increments:
[code]

i'm making the probe failing with an ipt

[2021-08-23 23:37] manugarg commented on #652
Oops. Sorry, I was wrong. I missed that you were using labels in the probe config. This will not work.

It's going to be hard to implement a generic label replacement mechanism.

The way it works in HTTP probe is:
- If "relative_url" or "host" is not defined in the probe config, and target has these labels, it automatically uses these labels.

We can do something similar for DNS probe.

[2021-08-23 23:40] manugarg commented on #653
Thanks for the bug report, @ltagliamonte-dd. "total" should increment if there is a timeout. I'll look into it.

[2021-08-23 23:52] manugarg commented on #653
Problem seems to be here:
https://github.com/google/cloudprober/blob/30fb6ab52e5473f64f2f9fadeb3d40aa8ef895f2/probes/external/external.go#L501

We do results processing in the goroutine that gets canceled on timeout. We should move this out.

[2021-08-25 15:39] skuethe opened #654 "`additional_label`'s are missing in custom metrics of `EXTERNAL` probe"
First off, thank you for providing this very useful tool! :)

**Describe the bug**
It seems that any `additional_label` defined inside an `EXTERNAL` probe only applies to the build-in metrics (`success`, `total` and `latency`). Any custom metrics returned by the external probe does not have these labels set.

**Cloudprober Version**
Tested both `v0.11.2` and latest `master` (as of today: `2021-08-

[2021-08-27 00:22] #654 closed, assigned to manugarg

[2021-09-07 08:56] ltagliamonte-dd commented on #653
Thank you @manugarg i was able to re-test and it looks like the issue has been fixed.

[2021-09-15 22:35] nadenf opened #663 "Socket: permission denied when run in Kubernetes"
**Describe the bug**
I am running Cloudprober within a K3d Kubernetes environment.

On launch of the pod the following error message appears and the container doesn't start:
[code]

**Cloudprober Version**
0.11.3

[2021-09-16 20:30] manugarg commented on #663
@nadenf Good question! Ping probe requires special permissions on any host. `ping` program on Linux machines gets around this requirement either by using setuid (so that process opens socket with root privileges), or setting cap_net_raw capabilities.

On a typical Linux machine:
You could run cloudprober as root to avoid this error (you will need to set `use_datagram_socket: false` in your config)

[2021-09-17 22:42] manugarg commented on #663
Changing the label to question. I'll document it somewhere before closing it.

[2021-09-22 10:10] benner commented on #634
Tested in semi-prod. Now it has more that 2M targets. Some stats (from Cloudprober exported metrics):
![image](https://user-images.githubusercontent.com/407369/134324958-9cd8145a-1996-46f0-9e99-dd5111b06023.png)
![image](https://user-images.githubusercontent.com/407369/134325049-d338bb30-6d7d-4b41-abaa-a331c00c1f76.png)
![image](https://user-images.githubusercontent.com/407369/134325099-d8f9f3be-4

[2021-09-22 17:51] manugarg commented on #634
@benner Awesome, great to see.

[2021-10-05 03:55] #663 closed

[2021-10-13 14:03] TPXP opened #670 "Failed to publish metrics to cloudwatch: MissingRegion: could not find region configuration"
**Describe the bug**
When setting up CloudProber on an AWS instance with th IAM role for publishing metrics to CloudWatch, metrics are not created due to the following error
[code]

**Cloudprober Version**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM in ElasticSearch with an IAM policy allowing it to push metrics in CloudWatch
2. Start cloudprober

**Additional context*

[2021-10-13 18:51] robpickerill commented on #670
Thanks, I can pick this up, over next few days

[2021-10-14 16:02] manugarg commented on #670
Thanks @robpickerill!

[2021-10-21 08:54] manugarg commented on #670
This should now be fixed through #672. @TPXP, can you give it a try and reopen this issue if it is not fixed for you yet.

[2021-10-21 08:54] #670 closed, assigned to robpickerill

[2021-10-21 11:59] robpickerill opened #673 "Improve documentation for cloudwatch surfacer"
To support https://github.com/google/cloudprober/pull/672 - the documentation should be updated for new cloudwatch surfacer functionality for configuring the region.

I intend on doing this soon, this issue serves as a tracker, and can be allocated to me.

[2021-10-27 01:09] #673 closed, assigned to robpickerill

[2021-10-29 00:23] manugarg commented on #123
Folks, please see the announcement here: https://github.com/google/cloudprober/discussions/679. Active development of this repository will move to [github.com/cloudprober/cloudprober](http://github.com/cloudprober/cloudprober). Unfortunately, we'll have to close all the issues here, and file them again.

[2021-10-29 00:30] manugarg commented on #633
@cool-RR, Please see the announcement here: https://github.com/google/cloudprober/discussions/679. Active development of this repository will move to [github.com/cloudprober/cloudprober](http://github.com/cloudprober/cloudprober). Unfortunately, we'll have to close all the issues here, and file them again.

[2021-10-29 00:31] manugarg commented on #637
@cool-RR, Please see the announcement here: https://github.com/google/cloudprober/discussions/679. Active development of this repository will move to [github.com/cloudprober/cloudprober](http://github.com/cloudprober/cloudprober). Unfortunately, we'll have to close all the issues here, and file them again.

[2021-10-29 00:31] manugarg commented on #651
@cool-RR, Please see the announcement here: https://github.com/google/cloudprober/discussions/679. Active development of this repository will move to [github.com/cloudprober/cloudprober](http://github.com/cloudprober/cloudprober). Unfortunately, we'll have to close all the issues here, and file them again.

[2021-10-29 00:42] manugarg commented on #611
@vadimberezniker @benner Please see the announcement here: https://github.com/google/cloudprober/discussions/679. Active development of this repository will move to [github.com/cloudprober/cloudprober](http://github.com/cloudprober/cloudprober). Unfortunately, we'll have to close all the issues here, and file them again.

I've gone ahead and filed this issue again at the new location: https://gith

[2021-10-29 00:45] manugarg commented on #468
@BradErz Please see the announcement here: #679. Active development of this repository is moving to github.com/cloudprober/cloudprober. Unfortunately, we'll have to close all the issues here, and file them again. Since this issue is open for long, I think it's worthwhile to add this, I've gone ahead filed it myself.]:
https://github.com/cloudprober/cloudprober/issues/4

[2021-10-29 03:41] manugarg commented on #652
@xenofree Please see the announcement here: #679. Active development of this repository is moving to github.com/cloudprober/cloudprober. Unfortunately, we'll have to close all the issues here, and file them again. Can you please do that. Thanks!

[2021-10-29 03:44] manugarg commented on #11
Filed this issue at the new location https://github.com/cloudprober/cloudprober/issues/7.

[2021-10-29 03:50] manugarg commented on #316
Moved this issue to https://github.com/cloudprober/cloudprober/issues/8.

[2021-11-02 06:42] manugarg commented on #71
Moved to https://github.com/cloudprober/cloudprober/issues/22.

[2021-11-02 06:42] #71 closed

[2021-11-02 06:49] manugarg commented on #149
@brat002, @fcastello, @MrHohn and other folks, Please see the announcement here: #679. Active development of this repository is being moved to [github.com/cloudprober/cloudprober](https://github.com/cloudprober/cloudprober). I am closing this issue as I think the core of it is resolved by using config checksum in deployment annotations like this:
https://cloudprober.org/how-to/run-on-kubernetes/#d

[2021-11-02 06:49] #149 closed

[2021-11-02 06:54] manugarg commented on #142
Filed as https://github.com/cloudprober/cloudprober/issues/24. Please see the announcement at https://github.com/google/cloudprober/discussions/679 for more details.

[2021-11-02 06:54] #142 closed

[2021-11-02 07:51] manugarg commented on #652
Moved here: https://github.com/cloudprober/cloudprober/issues/26.

[2021-11-02 07:51] #652 closed

[2021-11-02 07:52] manugarg commented on #575
Moved here: https://github.com/cloudprober/cloudprober/issues/25.

[2021-11-02 07:52] #575 closed

[2021-11-02 07:54] manugarg commented on #199
Referenced test failure is not available now. Closing this now because of repo move. See https://github.com/google/cloudprober/discussions/679 more details.

[2021-11-02 07:54] #199 closed

[2021-11-02 07:55] manugarg commented on #227
Closing this now, as noted earlier this may not be worth fixing.

[2021-11-02 07:55] #227 closed

[2021-11-02 07:56] manugarg commented on #26
Moved here: https://github.com/cloudprober/cloudprober/issues/23.

[2021-11-02 07:56] #26 closed

[2021-11-02 07:59] manugarg commented on #381
@nvidyala Sorry for not responding earlier. It's not possible to do this through config files as of now.

Also, please see the announcement here: https://github.com/google/cloudprober/discussions/679. We are archiving this repository. If you're still interested in this, can you please find a feature request here: https://github.com/cloudprober/cloudprober/issues.

[2021-11-02 07:59] #381 closed

[2021-11-02 08:02] manugarg commented on #25
Moved here: https://github.com/cloudprober/cloudprober/issues/27, as per https://github.com/google/cloudprober/discussions/679.

[2021-11-02 08:02] #25 closed

[2021-11-02 08:05] manugarg commented on #337
Moved here: https://github.com/cloudprober/cloudprober/issues/28. Please see the announcement here for the background: https://github.com/google/cloudprober/discussions/679.

[2021-11-02 08:05] #337 closed